[2016-11-21 22:14] lizan opened #23 "Consider trigger intermediate report in ProxyFlow"
Using timer seems inefficient when a streaming have long waiting time. Trigger report in read/write path with timestamp check might be better.

[2016-11-23 21:56] #23 closed, assigned to chowchow316

[2016-12-30 01:02] lizan opened #66 "Use bazel binary installer in Jenkins"

[2017-01-09 22:26] #66 closed, assigned to sebastienvas

[2017-03-24 20:46] lizan opened #129 "Update NGINX"
We're still based on 1.11.5 but the latest version is 1.11.12.

[2017-05-16 18:34] lizan opened #178 "gRPC FlowControl test client crash with gRPC 1.3.2"

[2017-05-17 18:14] #178 closed, assigned to lizan, qiwzhang

[2017-06-22 03:59] lizan opened #204 "transcoding: support "grpc-status-details-bin""
Seems grpc-go sends "grpc-status-details-bin" in trailers to have error details (https://github.com/grpc/grpc-go/blob/v1.4.1/transport/http2_server.go#L750). We might need to support that in transcoding.

TODO:
- Confirm what is the standard format for "grpc-status-details-bin", it is not documented in [gRPC Wire Protocol](http://www.grpc.io/docs/guides/wire.html).
- Confirm C and Java stack behav

[2017-07-12 01:09] lizan commented on #129
#205

[2017-07-12 01:09] #129 closed

[2017-07-18 00:19] lizan opened #219 "src/api_manager:config_manager_test is flaky with -c opt"
[code]
In istio/proxy repo or after #216

[code]

will result

[code]

The test is temporarily disabled in #216.

[2017-07-18 01:36] qiwzhang commented on #219
@mangchiandjjoe   could you fix this test?

According to Lizan,  most likely the order is random in here

https://github.com/cloudendpoints/esp/blob/master/src/api_manager/config_manager_test.cc#L341

and

https://github.com/cloudendpoints/esp/blob/master/src/api_manager/config_manager_test.cc#L348

since the the order of protobuf_map is undefined, and the test is asserting the order.

[2017-07-18 17:57] mangchiandjjoe commented on #219
The failure was caused by parallel http requests from config_manager to service management api service.

Created the PR(https://github.com/cloudendpoints/esp/pull/221)

[2017-07-18 21:57] mangchiandjjoe commented on #219
PR was merged.

$ bazel test -c opt //src/api_manager:config_manager_test --runs_per_test=100
INFO: Found 1 test target...
Target //src/api_manager:config_manager_test up-to-date:
  bazel-bin/src/api_manager/config_manager_test
INFO: Elapsed time: 1.490s, Critical Path: 0.14s
//src/api_manager:config_manager_test                                    PASSED in 0.1s
  Stats over 100 runs: max = 0.1s,

[2017-07-18 21:57] #219 closed

[2017-07-24 09:06] zx8 opened #224 "Nginx doesn't re-resolve Kubernetes Service VIPs"
We have a bunch of Nginx `location` blocks as follows:

[code]

If, for example, I were to delete and re-create the `service-3` Service in Kubernetes, it would be assigned a new VIP address, but the Pods would remain the same, resulting in "backend unavailable" errors.

Is it possible to re-resolve Service IP addresses (or obey DNS TTL) without having to restart Nginx?

[2017-08-01 00:33] rkdirect opened #227 "Unable to specify JSON message print options"
The following excerpt defines the print options available in grpc/protobuf:

    struct JsonPrintOptions {
	  bool add_whitespace;
	  bool always_print_primitive_fields;
	  bool always_print_enums_as_ints;
	  bool preserve_proto_field_names;
    }

Unfortunately some of these values are simply never set, and other are hard coded from the "JsonOptions" bitmask being passed into the function and har

[2017-08-01 01:08] lizan commented on #227
@rkdirect thanks for bringing this up. The gRPC<->JSON translating is using grpc-httpjson-transcoding library, not the marshalling.cc. A PR is already merged in the library https://github.com/grpc-ecosystem/grpc-httpjson-transcoding/pull/13 . I need to plumb them up, and add the flags to service config to support configuring it.

[2017-08-01 02:50] rkdirect commented on #227
@lizan I see, missed that part of the puzzle ;)

You mention:

I'm using the NodeJS server, will this be available to me as an api/option, or proto extension?

Honestly I've had a lot of trouble with the nodejs server options, I never did get either 'grpc.max_send_message_length' or 'grpc.max_receive_message_length' to work. So I was hopeful this could be specified on a message level within the pr

[2017-08-01 20:35] lizan commented on #227
That sounds an gRPC issue, you might want to file an issue with gRPC for more details. ESP set this to MAX_INT so you won't be capped by ESP at least.

To have ESP support this, it is irrelevant to what server you use behind ESP, the only thing effect is the protobuf descriptor and service config you provide to ESP. The traffic between ESP and your backend server is gRPC with binary protobuf, it d

[2017-08-02 00:40] rkdirect commented on #227
Cool enough, and thanks for the explanation.

I'm not sure I agree with the claim that ESP is unlimited... I submitted this to grpc as an error here: [grpc/issues/12012](https://github.com/grpc/grpc/issues/12012) and the response I got was the grpc service was sending more than 4mb when configured; however, ESP returns the following error:
` "message": "Received message larger than max (6132324 vs

[2017-08-02 04:40] lizan commented on #227
What version are you using? ESP won't cap that since 1.2.0, ESP use same gRPC client for both pass-through and transcoding.

Yes, I meant the `always_print_primitive_fields` is not for message level, but we can implement in either service level or method level.

For example you have proto like this:
[code]

We can provide an option for `sampleMethod` or `SampleService`, which means you will get bo

[2017-08-03 16:17] rkdirect commented on #227
@lizan Well of course I was just being an id-10T, my development environment was pulling endpoints:1.0, instead of endpoints:1 (latest).  So mystery solved and working in production :+1:

Looking forward to being able to resolve this, I assume it might look something like this?:

    service SampleService {
      rpc sampleMethod(google.protobuf.Empty) returns (ParentMessage) {
        option (goo

[2017-08-04 01:56] lizan commented on #227
Glad to hear that :)

Yes that is my thought, we will figure it out

[2017-08-29 23:59] lizan opened #254 "//src/nginx/t:config_rollouts_managed is flaky under TSAN"
https://endpoints-jenkins.appspot.com/job/esp/job/presubmit/650/execution/node/124/log/

[code]

[2017-08-30 17:56] mangchiandjjoe commented on #254
Report callback function was called after the destruction process was started.
I will investigate if there a way to cancel the callback function.

[2017-09-06 20:16] ghost opened #260 "JWT validation failed: KEY_RETRIEVAL_ERROR"
I am using Google Cloud Endpoints with container engine.  I have set up a custom security definition to verify a JWT from Azure AD.  I have set the x-google-jwks_uri="https://login.microsoftonline.com/common/discovery/v2.0/keys".

I receive the following error on the esp

E0906 20:02:18.843727344      11 auth_jwt_validator.cc:570]  Cannot find matching key in key set for kid=HHByKU-0DqAqMZh6ZFPd2V

[2017-09-06 23:31] liminw commented on #260
ESP was looking for "alg" parameter in the public key and could not find it. This is why you see the error.

[2017-09-08 04:41] mixerka opened #262 "Upstream SSL certificate verify error on JWT validation"
I am using Google Cloud Endpoints with container engine.

My securityDefinition is:
[code]
When I am trying to use JWT token, I get the following error in ESP stdout:
[code]

In response I get:
[code]

In tracer I get:
![screen shot 2017-09-08 at 09 31 03](https://user-images.githubusercontent.com/3119549/30196231-7b542f1a-9478-11e7-839c-a701535ad11d.png)

I have tried to connect into esp containe

[2017-09-08 06:20] qiwzhang commented on #262
@lizan @kuat Nginx experts,  could you help?  I think Nginx should use our build-in trusted-ca-certificates.crt for server certificates.  [http](https://github.com/cloudendpoints/esp/blob/master/src/nginx/http.cc#L998).cc used to fetch public should use the same certs. is that correct?

Hi @liminw could you try to use local Nginx to test it to see if it can talk to that server?

[2017-09-08 18:48] liminw commented on #262
I see two errors here: JWT validation failed, and SSL certificate verify error.

For JWT validation failure, what "kid" did you use in your JWT? From https://pg.ridero.store/auth/certs, you try to support JWT signed by different signing algorithms, including ES256, ES384, ES521, RS256. ESP currently supports RS (e.g., RS256) and HS algorithms. In the next ESP release, ESP will start supporting ES2

[2017-09-08 20:30] mixerka commented on #262
@liminw Thanks for your questions.

I definitely use RS256 and as you could see https://pg.ridero.store signed by let's encrypt with DST Root CA X3.

Actually, first error you mentioned is "JWT validation failed: Unable to fetch verification key". There is no conflict between "unable to fetch verification key" and "ssl certificate verify error". Is it possible, that SSL error is reason for unable

[2017-09-11 21:13] tgeng opened #264 "Resource name containing URL escaped character results in 404"
We have something like:

[code]

If the resource name contains character ":", like "foos/abc:def", then the URL in the HTTP GEt request becomes "/resources/foos/abc:def", and then ESP return the following error response before our gRPC server got hit.

[code]
This makes sense since "foos/abc:def" matches the URL pattern for defining custom API method.

However, escaping colon with URL encoding doe

[2017-09-11 22:14] qiwzhang commented on #264
It is a bug in ESP.  Next release of ESP (1.8.0) will have fixed it.

[2017-09-11 22:14] #264 closed

[2017-09-15 01:00] liminw commented on #262
Sorry for responding late. I somehow missed the message.

I think you are right that in your case the JWT validation error is caused by the SSL error. Can you check if your certificate is self-signed?

[2017-09-15 14:46] mixerka commented on #262
@liminw
My certificate is not self-signed: https://www.ssllabs.com/ssltest/analyze.html?d=pg.ridero.store&latest

[2017-09-15 16:10] qiwzhang commented on #262
@lizan could you help to debug Nginx for this one?

if https://pg.ridero.store is not self-signed, why Nginx said it is self-signed.  Our certification file is here

https://github.com/cloudendpoints/endpoints-tools/blob/master/start_esp/trusted-ca-certificates.crt

[2017-09-18 10:23] lizan opened #271 "HTTPS client should support SNI"
The HTTPS client fetching auth public key doesn't support SNI, in some case ESP won't be able to fetch keys. See #262

[2017-09-18 10:24] lizan commented on #262
Looks like the https://pg.ridero.store requires SNI to return proper certificate, and the HTTP client in ESP doesn't support that.

[code]
will result
[code]

While
[code]
will return verify OK. Filed #271.

[2017-09-18 10:28] lizan commented on #262
@mixerka This is because by default ESP uses Public DNS resolver (8.8.8.8), you can use [`--dns`](https://github.com/cloudendpoints/endpoints-tools/blob/master/start_esp/start_esp.py#L502) flag to set it to your [K8s cluster DNS](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/).

[2017-09-18 10:29] lizan commented on #260
I think we should use the key if "kid" matches while there is no "alg". @liminw thoughts?

[2017-09-18 16:32] qiwzhang commented on #271
Does Nginx proxy_pass upstream support SNI?   Is this just our "http.cc" code issue or this is the whole Nginx issue?

[2017-09-18 20:59] liminw commented on #260
ESP currently does not support JWKS keys without "alg" field. But we are currently working on the fix.

[2017-09-20 00:11] lizan commented on #262
@mixerka Do you maintain https://pg.ridero.store by yourself? If the IP only serve pg.ridero.store, try not require SNI at server-side, that should work too.

[2017-09-20 02:46] mixerka commented on #262
@lizan thank you for investigation.

For now, I will use k8s cluster dns and local dns name without https.

[2017-09-22 16:21] rkdirect commented on #227
Have we made any progress on this? This is causing a lot of confusion with developers and slowing adoption within our organization.

[2017-09-27 16:22] rkdirect commented on #227
@lizan Can you please provide an update on when this might be available (even a preview/beta)?

[2017-09-27 16:26] lizan commented on #227
@rkdirect Sorry for the delay, we had discussion internally for how to support this in `google.api` and working on updating those protos. Once the protos is updated, the work in ESP side is not large.

[2017-09-28 14:51] sgammon opened #281 "Adjustable SSL config"
I'd like to customize my ESP SSL config with hardened settings. Is there a supported/official way of doing that?

[2017-09-28 18:27] sgammon commented on #281
it's hard to find, but it's out there, for anyone encountering this later:
[esp_echo_custom_config_gke.yaml](https://github.com/GoogleCloudPlatform/endpoints-samples/blob/master/k8s/esp_echo_custom_config_gke.yaml)

[2017-09-28 18:27] #281 closed

[2017-10-03 03:02] tonglil opened #284 "Allow ESP container parameters to be specified by environment variables"
Reading the startup parameters via env vars (vs through flags) could help simplify configurability, especially in a container environment such as Kubernetes using ConfigMaps.

In addition, this could also allow instances of reloading the configuration dynamically instead of starting a new container when env vars change.

[2017-10-11 23:42] bbassingthwaite-va commented on #204
Any update on this issue? Thanks!

[2017-10-13 20:50] lizan commented on #204
Hi Braden, sorry I'm pretty busy with other stuff recently and didn't get a chance to tackle on this yet.

@yang-g, can you confirm the status in gRPC side, C and Java stack behavior?

[2017-10-18 00:18] jeremylorino commented on #227
@lizan any update on this? We have been digging through the code trying to see if we could fork this and work around it but have been unsuccessful.

Any suggestions?

[2017-10-18 00:51] lizan commented on #227
@jeremylorino Sorry for the delay, the internal discussion around the service config `google.api` is still ongoing and I don't have ETA for that yet.

However, there is a workaround, if ESP instance level configuration works for you, which means that you can specify JSON print options per ESP instance, not per service nor per method.

Here is the implementation idea:
- Add a message to configure `

[2017-10-18 01:21] jeremylorino commented on #227
Awesome! I actually cloned the repo after my comment and was proceeding to
change the transcoding factory default print options to true rather than
false. And use this docker image internally for us as the interim solution.

But I am much more inclined to implement the "real" solution you outlined.

I'll let you know when it is ready.
On Tue, Oct 17, 2017 at 7:51 PM Lizan Zhou <notifications@githu

[2017-10-27 21:48] rkdirect commented on #227
@lizan The solution you recommended has been sent via PR https://github.com/cloudendpoints/esp/pull/294

As noted in the PR, we are currently unable to verify the change as we have a few unknowns:

1. We do not have a means to produce a docker image, the documentation does not mention how to build this and it appears it requires a ".deb" package. I assume we are missing one or more build steps.
2.

[2017-10-27 22:36] rkdirect commented on #227
@lizan If I understand your response correctly, there is not a way to specify this option directly from the command line. To add that ability I would need to:

First, parse and define the argument in start_esp.py

    # always_print_primitive_fields.
    parser.add_argument('--print_primitive',
        default='false',
        help=argparse.SUPPRESS)

Then I will need to add the template argument

[2017-10-27 23:22] lizan commented on #227
@rkdirect sounds good to me. lets make the flag name more verbose, `transcoding_ always_print_primitive_fields` or `transcoding_always_print_primitive`, to make it clear this only affect transcoding.

Thanks a lot for the effort.

[2017-10-28 17:55] rkdirect opened #296 "Documentation Issues?"
A couple of documentation issues I ran into when setting up a new build machine (debian/jessie)

1. The package "build-essentials" is required for libtoolize
1. The package "aclocal" is required by bazel for the command by the same name
2. The installation requirements for bazel, clang, etc are all scripted, please consider recommending users run these scripts and include instructions for running

[2017-10-30 16:56] qiwzhang commented on #296
Hi @lei-tang could you help update our README or ESP doc in this repo to reflect these requirements?
@rkdirect Thanks for these valuable info.

[2017-10-30 17:13] lei-tang commented on #296
I will update the documents.

[2017-10-30 17:14] lei-tang commented on #296
I will update the documents.
Regards,
Lei

On Mon, Oct 30, 2017 at 9:56 AM, Wayne Zhang <notifications@github.com>
wrote:

[2017-10-31 00:47] lei-tang commented on #296
The documents have been updated (commit ec40f63):
1. Add the software packages required for building ESP.
2. Add the software packages required for running ESP tests.
3. Add a step-by-step guide for building ESP on Ubuntu 16.04, and running tests.

[2017-10-31 00:47] #296 closed

[2017-11-01 16:50] Jonathan34 opened #303 "JWT validation failed: Unable to fetch verification key"
Hi,
I have an ESP on top of both an appengine service and a k8s cluster (elastic search)

I have upgraded the esp config to talk to our prod `x-google-jwks_uri` but the esp cannot reach the url (which can be browsed.

[code]

i can send the `x-google-jwks_uri` to whoever needs it. This url uses a certificate signed `Issued by: Entrust Certification Authority - L1M`.

From the appengine and k8s ngi

[2017-11-01 16:57] qiwzhang commented on #303
It could be https://github.com/cloudendpoints/esp/issues/271.

[2017-11-01 17:14] Jonathan34 commented on #303
this jwks-uri is actually deployed in appengine; using the appspot url instead solves the issue. it just wont allow to use the fqdn i need with the entrust cert

[2017-11-10 15:20] tazjin opened #308 "Valid JWT rejected with BAD_FORMAT"
When sending a request to a Cloud Endpoints deployment with a JWT generated by [Keycloak](https://www.keycloak.org/) we struggle with the following error message:

[code]

We've gone through the [JWT troubleshooting](https://cloud.google.com/endpoints/docs/openapi/troubleshoot-jwt-openapi) document and tried everything we could think of, short of recompiling the ESP with a bunch of debug log state

[2017-11-10 15:47] tazjin commented on #308
I've tried some more debugging by changing values in the JWT manually (hoping to proceed to a time or signature error).

This is in fact caused by `nbf = 0`, which should be a valid value (epoch 0 is *most definitely* in the past!)

[2017-11-10 17:22] qiwzhang commented on #308
@liminw @lizan Since ESP is using gRPC library for JWT checking.  This could be an issue in the gRPC code.   Could you confirm it?

[2017-11-10 18:37] liminw commented on #308
The check is indeed in gRPC. @tazjin has done a great job debugging to find out the cause.

This is expected behavior. That is, the claims, "exp", "iat", "nbf", if provided, must contain valid values, which is the number of seconds since Epoch.

[2017-11-10 19:15] qiwzhang commented on #308
nbf = 0 is not supported.   @tazjin should I close the issue?

[2017-11-10 21:58] tazjin commented on #308
@qiwzhang That is up to you. We will be able to find an alternative to using Endpoints, but you may want to consider documenting this.

It's unclear from @liminw's response what the chosen "cutoff time" for `nbf` values is - can they not be in the past at all? Can they be 1 hour, 1 week ago? 10 years ago?

Whatever you chose, this discrepancy from the spec (which [does not](https://tools.ietf.org/

[2017-11-10 22:17] qiwzhang commented on #308
Thanks. @tazjin We will use this to update our doc.    Hi @liminw Could you help to fix this?

[2017-11-10 22:46] lizan commented on #308
I feel the nbf = 0 should pass the check. @tazjin is the JWT signed by
services yourself or some common 3rd party issuer?

On Fri, Nov 10, 2017 at 2:17 PM, Wayne Zhang <notifications@github.com>
wrote:

[2017-11-10 22:59] tazjin commented on #308
@lizan The JWT is signed by our Keycloak instance.

[2017-11-11 01:22] liminw commented on #308
If I read it correctly, from [grpc code](https://github.com/grpc/grpc/blob/a5ddf26c3386031b2485784199160d107b972991/src/core/lib/security/credentials/jwt/jwt_verifier.cc#L268), it seems that 0 is considered the error code returned from validate_time_field().

[2017-11-11 01:27] liminw commented on #308
We will document it [on this page](https://cloud.google.com/endpoints/docs/openapi/troubleshoot-jwt-openapi) that the values for "iat", "nbf", "exp" must be numbers that are greater than 0.

[2017-11-11 03:26] lizan commented on #308
Thanks @tazjin , how easy to configure Keycloak to omit nbf or have certain nbf != 0?

@liminw yes the code reading is correct, but I don't think it is intentional, is it?

[2017-11-13 17:23] mangchiandjjoe commented on #254
This issue has been fixed with the PR https://github.com/cloudendpoints/esp/pull/282

[2017-11-13 17:23] #254 closed

[2017-11-14 23:32] liminw commented on #308
The documentation [here](https://cloud.google.com/endpoints/docs/openapi/troubleshoot-jwt-openapi) is fixed to say that "iat", "nbf", "exp" must be numbers greater than 0.

[2017-11-14 23:37] #308 closed

[2017-11-16 14:56] orhan-swe opened #310 ""message": "JWT validation failed: BAD_FORMAT","
I am getting following from esp (cloud endpoint with app engine flex):
[code]
I am signing the token with a json key_file (see attached image about the signature being valid)

header:
[code]
payload
[code]

the actual token:
eyJ0eXAiOiAiSldUIiwgImFsZyI6ICJSUzI1NiIsICJraWQiOiAiNzgzOTY4YmE4Yzc1NWQzMGQ5YTAyYjQ4MmNmMGU3NDJhMzZhNTRlMSJ9.eyJpYXQiOiAxNTEwODQzNTI1LCAiZXhwIjogMTUxMDkxNTUyNSwgImF1ZCI6ICJodH

[2017-11-16 17:07] qiwzhang commented on #310
@liminw could you help?

[2017-11-17 00:41] liminw commented on #310
I think the problem here is, the "sub" claim is missing in the token.

@orhan-swe , could you please add "sub" claim to the token and try it again?

[2017-11-17 09:07] orhan-swe commented on #310
@liminw  Thanks, but it did not help, I am getting the same response

generated token:
eyJ0eXAiOiAiSldUIiwgImFsZyI6ICJSUzI1NiIsICJraWQiOiAiNzgzOTY4YmE4Yzc1NWQzMGQ5YTAyYjQ4MmNmMGU3NDJhMzZhNTRlMSJ9.eyJpYXQiOiAxNTEwOTA5MTgyLCAiZXhwIjogMTUxMDk4MTE4MiwgImF1ZCI6ICJodHRwczovL2FpcnBvcnQ1LTE4NTcxMy5hcHBzcG90LmNvbSIsICJpc3MiOiAiY2xpZW50MUBhaXJwb3J0NS0xODU3MTMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCAic3ViIjogIjEx

[2017-11-17 21:25] liminw commented on #310
@orhan-swe , I tried the new token you posted, the error becomes "JWT validation failed: UNKNOWN". It is likely caused by the fact that your "sub" and "email" fields are different. Could you try to make "sub" the same as your "iss" claim (client1@airport5-185713.iam.gserviceaccount.com)?

There is implicit requirement that if the "iss" (issuer) claim is an email address, then the "sub" (subject) a

[2017-11-17 23:53] orhan-swe commented on #310
@liminw i generated and tried a new token after i wrote the note above, it may have made the old one invalid and you are getting unknown; I am not sure if I ever tried with both iss and sub being same email address, though I did try many different combinations. I will try this on Monday and see if it gives different result. Thanks

[2017-11-20 09:53] orhan-swe commented on #310
@liminw
The issue has been resolved.

It seems that I had two different issues.
The main issue was that the encode function below was giving a string bytes object and not a normal string:
`jwt = google.auth.jwt.encode(signer, payload)`

I was using the python sample project from here:
https://cloud.google.com/endpoints/docs/openapi/service-to-service-auth#making_an_authenticated_call_to_an_endpoin

[2017-11-20 17:44] qiwzhang commented on #310
@orhan-swe Thanks for your detail info.  We certainly don't want other users to run into this issue again.  @liminw please use this issue to update our doc.   Thanks.

[2017-11-28 23:36] liminw commented on #310
@orhan-swe Thanks for the info! We will update the doc accordingly.

[2017-11-28 23:36] #310 closed

[2017-11-29 15:44] bourquep opened #317 "Transcode to HTTP/Protobuf"
Is there a way to configure ESP to use binary protobuf for payloads when a gRPC service is accessed via HTTP?

In other words, instead of always transcoding protobuf to JSON when using the HTTP transcoder, stick to binary protobuf?

[2017-11-29 16:55] qiwzhang commented on #317
To support HTTP/proto?   I think it is not supported.    @fengli79 @lizan could you confirm?

But it should be easy to add.  The code is here: https://github.com/cloudendpoints/esp/blob/master/src/nginx/grpc.cc

We welcome contribution.

[2017-11-30 01:39] lizan commented on #317
@bourquep What is your usecase, doesn't [grpc-web](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md) fit it? @fengli79 added gRPC-web capability to ESP so you can use it.

[2017-12-05 15:43] bourquep commented on #317
@lizan Thanks, I had dismissed grpc-web based on the fact that it is still very early and no official client seem to be available yet, but I'll give it a more thorough look.

[2017-12-08 16:46] bourquep commented on #317
I'm up and running with grpc-web, thanks for the tip!

[2017-12-08 16:46] #317 closed

[2017-12-08 16:54] bourquep opened #322 "CORS not working with gRPC endpoints"
I have a gRPC service exposed to the world via Google Cloud Endpoints/esp. I am able to access this service via a grpc-web NodeJS client without any issues. However, when trying to access the service via a browser JS app (using the same grpc-web client code), calls fail due to the `OPTION` calls (CORS) being rejected.

Here is my `endpoints.yaml` configuration file:

[code]

Here's the relevant pa

[2017-12-08 17:07] qiwzhang commented on #322
@lei-tang could you response to this issue?

[2017-12-08 23:13] lei-tang commented on #322
When accessing the service via a browser JS app, the browser expects the HTTP response to contain valid CORS headers. When allow_cors is configured as true in Endpoints, Endpoints simply passes through the CORS requests to the backend and it is up to the backend to properly handle the CORS requests and return valid CORS headers expected by the browser.

[2017-12-08 23:25] qiwzhang commented on #322
But the backend is gRPC,  it could not handle CORS.   @lei-tang could you post the approach of using  custom Nginx config?

[2017-12-09 18:16] sgammon opened #323 "Ability to pass headers from ESP to grpc backend"
I don't see a way, documented or otherwise, to pass headers to gRPC similar to `proxy_set_header` in Nginx. I figured, perhaps, that all headers were transcoded to metadata, but that doesn't seem to be the case.

Is it possible to add a directive where we can set headers in the proxy, and see them in gRPC? For instance, if behavior in gRPC is based on source IP or some other transport value that i

[2017-12-11 14:23] bourquep commented on #322
@lei-tang Thanks. Is there a way to append to the existing conf instead of replacing it as a whole?

[2017-12-12 00:18] lei-tang commented on #322
@bourquep The CORS related configs can be added to the existing Nginx configuration file; you do not need to replace it as a whole.

[2017-12-14 01:40] qiwzhang opened #327 "Jenkins test run out of metadata space limit"
In GCE tests,  it needs to use "gcloud compute ssh" instance, but ssh-key is not removed.  It used a lot of metadata limit of 32KB.

We need to remove all used ssh-key in the project metadata.

[2017-12-14 01:56] lei-tang commented on #327
The ssh keys can be seen at: https://pantheon.corp.google.com/compute/metadata/sshKeys?project=endpoints-jenkins&organizationId=433637338589

[2017-12-14 21:54] lei-tang commented on #327
The PR for this issue is at: https://github.com/cloudendpoints/esp/pull/329.

[2017-12-21 22:33] FranOis opened #332 "ESP / Service Control does not validate IAM policies"
I've setup my swagger definition for securing the entire API with Google ID JWT.

[code]

[code]

I also have setup some policies on my Endpoint so that only one service account is `roles/servicemanagement.serviceConsumer`. When i make an authenticated call with any service account even from other GCP projects/ organizations, it seems like there is no validation beyond that the JWT is properly sig

[2017-12-21 22:43] qiwzhang commented on #332
@liminw could you help?

[2017-12-21 23:18] liminw commented on #332
Cloud Endpoints is not integrated with Cloud IAM. The Endpoints authorization feature we provide (currently is in Alpha) is to integrate with Firebase Rules. The Alpha doc site is at https://endpoints.googlesource.com/authz (It requires permission to access the site. Contact me if you are interested.).

[2017-12-21 23:39] FranOis commented on #332
Thanks for the quick answer.

@liminw What are Firebase Rules? A quick search sounds like they are to access documents in Firebase Realtime Database. Would those allow me to allow only certain service accounts to reach my backend?

Could the documentation be updated or clarify that you can't limit access based on IAM roles?

Is `gcloud endpoints services add-iam-policy-binding` for the Alpha featu

[2017-12-21 23:50] liminw commented on #332
Firebase Rules provides an expression language for specifying authorization policy ([link](https://firebase.google.com/docs/reference/security/storage/)). The public documentation on cloud endpoints only mentioned authentication. Authorization is not a public feature yet. You can email me at liminwang@google.com. I will send you an invite to see the Alpha doc to your email account.

[2018-01-03 20:15] godspeedchu commented on #204
gentle ping, any update? thanks a lot

[2018-01-03 21:19] JimmyCYJ commented on #204
Sorry for the delay, I will work on this feature late this week.

[2018-01-04 03:03] bbassingthwaite-va commented on #204
Very exciting, thanks!

[2018-01-05 16:38] Aicos opened #333 "Required properties not working as expected"
Not sure if I'm posting in the write place, but I'm having a problem getting the validation to fail when it should on my esp proxy setup.

This is basically the setup I have:
https://cloud.google.com/endpoints/docs/openapi/get-started-compute-engine

Validation successfully fails on POST routes that only contain one parameter. But not on routes that look like the following with 2 parameters:

Part

[2018-01-05 17:48] qiwzhang commented on #333
Google cloud endpoints doesn't parse request body, hence "required" fields from the OpenAPI spec. are not verified by the proxy.   For performance reason, proxy is not the place to parse request body.

[2018-01-05 18:13] Aicos commented on #333
So what is generating the error message on my other routes when I've missed a required field?

[2018-01-05 18:40] qiwzhang commented on #333
I am not sure which component send the errors.   I am pretty sure cloud
endpoint proxy doesn't.

On Fri, Jan 5, 2018 at 10:13 AM, Aicos <notifications@github.com> wrote:

[2018-01-11 19:46] qiwzhang commented on #204
We should close it after we make ESP release with this fix.  Hope next week, we are going to make a release.

[2018-01-12 22:15] qiwzhang opened #338 "Remove X-Endpoint-API-UserInfo header from clients"
ESP should remove any X-Endpoint-API-UserInfo headers from clients.

This header should be generated by ESP.  ESP should not forward it.

[2018-01-12 22:41] mangchiandjjoe commented on #338
Incoming header can be removed by nginx with proxy_set_header configuration.
Does this header should be removed by nginx or ApiManager?

[2018-01-12 23:02] qiwzhang commented on #338
Either way.  But if doing in nginx config, we have to do it twice: one for Flex, and another for non-Flex.
So api-manager is easier.

[2018-01-12 23:17] mangchiandjjoe commented on #338
I will remove the header inside the ApiManager.
Thanks.

[2018-01-13 00:44] fieryorc commented on #338
Thanks! This will address our scenario where we are planning add two ESP proxy's to the same GRPC backend. One proxy will do google_id_auth and the other is pass through where we authenticate in GRPC. With this fix, we can enable this scenario.

[2018-01-16 17:47] qiwzhang commented on #323
Hi @sgammon My understanding is: ESP should pass all client headers into gRPC metadata for  both gRPC client and HTTP client.  The code is here:  https://github.com/cloudendpoints/esp/blob/master/src/nginx/grpc.cc#L234

If that is NOT the case,  please help us debug it.

[2018-01-16 18:11] qiwzhang commented on #332
@FranOis is it OK I close this issue?

[2018-01-16 18:11] #327 closed

[2018-01-16 19:48] lizan commented on #323
@qiwzhang I think what @sgammon try to do is to insert a header by ESP, which is not sent by client.

@sgammon I don't have time to work on this very soon. If you can contribute I'm happy to review though.

Some notes on implementation:
- Add a member to the location config `ngx_esp_loc_conf_t`, and parse it from nginx.conf
- The `ngx_esp_loc_conf_t` is extracted for gRPC here: https://github.com/

[2018-01-17 02:12] mangchiandjjoe commented on #338
PR https://github.com/cloudendpoints/esp/pull/339 has been merged

[2018-01-18 04:33] #332 closed

[2018-01-22 20:06] fieryorc commented on #338
Any idea which release will contain this fix?

[2018-01-22 20:16] qiwzhang commented on #338
Next release. ETA is this week, or next.

On Mon, Jan 22, 2018 at 12:06 PM, Prem Ramanathan <notifications@github.com>
wrote:

[2018-01-23 23:17] myidpt opened #341 "High failure rate for tests on flex"
During this week's release, I have noticed high failure rate for some tests. Please see the attachment about the results.
[RESULT.log](https://github.com/cloudendpoints/esp/files/1657952/RESULT.log)

[2018-01-25 01:29] kanagunbr commented on #260
Any update on this, I have exact same problem.

[2018-01-25 01:31] lizan commented on #260
https://github.com/cloudendpoints/esp/pull/274 already fixed the original issue, if you are using latest ESP, you shouldn't have the same problem.

[2018-01-25 01:32] lizan commented on #260
Fixed by #274, Released as 1.9.0

[2018-01-25 01:32] #260 closed

[2018-01-25 03:12] kanagunbr commented on #260
Thank you very much!. After upgrading ESP, it worked like a charm.

[2018-01-29 22:13] myidpt commented on #341
cc @lei-tang

[2018-01-30 10:05] TheSpy opened #344 "ESP swallows RpcException trailers metadata"
**Setup**
I am using csharp Grpc 1.8.3 client-server communication and ESP sidecar together with gcloud endpoints for monitoring.

On a server side I rise RpcException with Trailers metdata attached. (https://grpc.io/grpc/csharp/api/Grpc.Core.RpcException.html)

**Server side grpc-json communication**
When I call http endpoint on a server and an exception is raised RpcException metadata is transco

[2018-01-30 17:45] qiwzhang commented on #344
@lizan @fengli79 Does ESP pass gRPC trailer data in pass thought case?

[2018-01-30 21:53] godspeedchu commented on #204
Sorry to bother, is this released? What's the ESP version that has this change? Thanks a lot!

[2018-01-30 21:55] JimmyCYJ commented on #204
https://github.com/cloudendpoints/esp/releases/tag/v1.13.0

[2018-01-30 21:56] JimmyCYJ commented on #204
It is in v1.13.0 now.

[2018-02-02 00:51] bbassingthwaite-va opened #345 "GZIP Support"
I can't find any docs around enabling this or support for this? Am I missing a hidden feature or does endpoints just not do this? It would be a huge improvement if transcoded JSON responses were compressed. Thanks!

[2018-02-02 01:19] qiwzhang commented on #345
This is mainly for gRPC transcoding to gzip compress the JSON response. is that right?

Hi @PiotrSikora @lizan Does Nginx support GZIP compression in Response?  If no, how easy to add it?

[2018-02-02 01:20] PiotrSikora commented on #345
@qiwzhang it does (`gzip on;`).

[2018-02-02 01:21] lizan commented on #345
If you are using custom nginx.conf adding `gzip on;` should do compression.
http://nginx.org/en/docs/http/ngx_http_gzip_module.html

[2018-02-02 02:30] bbassingthwaite-va commented on #345
I've tried many variations of this and have not been able to get this to work.

One attempt:
[code]

I expect this to work, am I missing something?

[2018-02-02 19:09] godspeedchu commented on #204
I see the code and message are propagated from grpc-status-details-bin to the response but not the error details. What is the plan to support that?

[2018-02-02 19:33] qiwzhang commented on #204
@lizan Since "details" field is "any" type.  Users can pack any proto message to it.  If ESP doesn't have the descriptor for that message, ESP could not convert it to JSON.   How can ESP get the proto descriptor?   Can they append it in the service config?  Does our service config allow users to append any descriptor files?

[2018-02-02 19:35] qiwzhang commented on #345
We never try it.   Hi @mangchiandjjoe Could you try it?

[2018-02-02 19:41] qiwzhang commented on #338
https://github.com/cloudendpoints/esp/releases/tag/v1.13.0

[2018-02-02 19:41] #338 closed

[2018-02-02 19:56] bbassingthwaite-va commented on #204
I would be fine with using BadRequest
from:
https://github.com/googleapis/googleapis/blob/31bf8302c3077d624fe61f40efc8eb92702dc491/google/rpc/error_details.proto#L120

Or any of the messages in `error_details.proto`

[2018-02-02 21:45] qiwzhang commented on #204
@bbassingthwaite-va Please clarify.   BadRequest  for "details" is working.   Or you will be fine if we can make it work?

[2018-02-02 21:48] bbassingthwaite-va commented on #204
Sorry I haven't had a chance to try it, but I would have expected that I could use messages from `error_details.proto` inside of the `details` `any` field and they would be properly transcoded to json.

[2018-02-02 21:50] qiwzhang commented on #204
@JimmyCYJ could you try it to see sending BadRequest in "details" work?  Thanks

[2018-02-02 22:56] godspeedchu commented on #204
I'm also interested in the PreconditionFailure in the error_details.proto, it would be great if this can be supported

[2018-02-02 23:02] JimmyCYJ commented on #204
I will try both BadRequest and PreconditionFailure in "details" and see whether it works.

[2018-02-03 01:03] mangchiandjjoe commented on #345
The default value of gzip_types is "text/html"
Nginx only compress for the response content type is text/html.
You can add more types to the configuration, then it would work.

    gzip            on;
    gzip_types      text/plain application/xml application/json;

$ curl -v -H "Accept-Encoding: gzip" "http://127.0.0.1:8090/shelves"
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0

[2018-02-03 01:07] mangchiandjjoe commented on #345
Could you please check your backend is returning "Content-Type" header?

[2018-02-03 01:17] JimmyCYJ commented on #204
I did a test by returning PreconditionFailure as Status::details, and I can see that the information in PreconditionFailure is received at client side as JSON format.

[2018-02-03 01:20] JimmyCYJ commented on #204
Here is the response received at a test client.
HTTP/1.1 404 Not Found
Server: nginx
Date: Sat, 03 Feb 2018 01:20:12 GMT
Content-Type: application/json
Connection: close

{
 "code": 5,
 "message": "Cannot find shelf 100",
 "details": [
  {
   "@type": "type.googleapis.com/google.rpc.PreconditionFailure",
   "violations": [
    {
     "type": "violation type 1",
     "subject": "subject 1",
     "d

[2018-02-03 01:29] JimmyCYJ commented on #204
I did a test using BadRequest and I works too. Here is the response received by client.

HTTP/1.1 404 Not Found
Server: nginx
Date: Sat, 03 Feb 2018 01:27:52 GMT
Content-Type: application/json
Connection: close

{
 "code": 5,
 "message": "Cannot find shelf 100",
 "details": [
  {
   "@type": "type.googleapis.com/google.rpc.BadRequest",
   "fieldViolations": [
    {
     "field": "Field violation f

[2018-02-03 01:48] bbassingthwaite-va commented on #345
The backed is grpc so I'm not setting any content to type.

[2018-02-05 16:38] mangchiandjjoe commented on #345
nginx requires content-type header to enable gzip compression.
the original response can be already compressed by the backend or content type doesnot requires compression(jpg, png,..)

https://github.com/nginx/nginx/blob/master/src/http/modules/ngx_http_gzip_filter_module.c#L257

[code]

[2018-02-05 16:41] bbassingthwaite-va commented on #345
What does this mean for gRPC? From my end, i've added the gzip headers but the gRPC transcoding to JSON is never gzipped by nginx.

[2018-02-05 18:41] lizan commented on #345
The content type for transcoding is set to application/json. I don’t think we set content-length but use chunked encoding, I think setting length for transcoding might work.

It will be only for unary calls, does that solves your problem?

[2018-02-05 18:43] bbassingthwaite-va commented on #345
That does solve my problem.

[2018-02-06 00:25] sgammon opened #346 "Is mTLS, or at least upstream TLS, supported for gRPC?"
Hey there esp authors,

I am looking for clarification. I know it says in the docs that mTLS is supported via flags, but, upon closer inspection of the config template, it seems they are only applied for non-gRPC backends.

Are client certs - I.e. mTLS - supported when using “grpc://“?

Also, is upstream TLS (I.e. a gRPC server serving itself via TLS, even if client certs are not in use) supported

[2018-02-07 01:18] sgammon commented on #346
@lizan any help? :) or it could be that grpc operates on a higher level and nginx's support for mTLS applies when proxying to `grpc://`? @PiotrSikora

[2018-02-08 22:59] inklesspen opened #347 "ESP to add a header to indicate ESP version"
I understand ESP adds a header when sending the request to the backend if the request included a JWT and that JWT was successfully authenticated.

Does ESP add any headers when API keys are successfully validated? What about sending a ESP version header? Is there any way to tell by examining the HTTP request that it was processed through ESP?

Thanks!

[2018-02-08 23:26] qiwzhang commented on #347
Yes,  you can compare the HTTP headers before ESP and after.
I think ESP only add one header; JWT token payload as "user-info" (I forget the exact header name).   It doens't add anything for api-key or ESP version.

[2018-02-12 19:42] sgammon commented on #346
@lizan / @qiwzhang, any word on this? :)

[2018-02-12 19:50] qiwzhang commented on #346
It is not supported.   The code is there
<https://github.com/cloudendpoints/esp/blob/master/src/nginx/grpc.cc#L104>.
 We welcome contribution to support it.

-Wayne

On Mon, Feb 12, 2018 at 11:42 AM, Sam Gammon <notifications@github.com>
wrote:

[2018-02-14 07:39] stevewolter opened #348 "Support for HTTP form encoded bodies"
For many client applications such as oauth servers, it would be nice to have support for transcription of POST bodies in form encoding (https://www.w3.org/TR/html401/interact/forms.html#h-17.13.3.4), both application/x-www-form-urlencoded and multipart/form-data, to gRPC. This would work the same way as JSON transcoding, just from a different body encoding.

[2018-02-14 08:11] lizan commented on #344
@TheSpy Do you have some sample code to reproduce this problem? Also what is the version of ESP are you using?

[2018-02-14 08:23] lizan commented on #348
Supporting `application/x-www-form-urlencoded` should be very similar to what we do variable binding from query parameter.

[2018-02-15 13:39] ChrisTerBeke opened #350 "SSL passthough"
Right now there is no option to call the backend service over https? I'm using cloud endpoints in combination with an nginx ingress controller in k8s as backend, and I only want to allow https connections on that (since we also use that same controller for websockets on a different port). Is there a way to enable passthrough when the incoming request is https?

[2018-02-15 19:13] qiwzhang commented on #350
It is supported.  Please look at this flag https://github.com/cloudendpoints/endpoints-tools/blob/master/start_esp/start_esp.py#L445

[2018-02-15 19:19] ChrisTerBeke commented on #350
Awesome! Any plans on adding some docs for this? It's completely unfindable, even when using Google search.

[2018-02-15 19:38] ChrisTerBeke commented on #350
Mm doesn't seem to work in my setup. This is the args section of my k8s config:

[code]

Any suggestions?

[2018-02-15 20:50] ChrisTerBeke commented on #350
I'm now using `--enable_websocket` with success, which means I can do full TLS termination in ESP so I don't need the pass through anymore (which doesn't seem to work as specified in the limited documentation?).

Also the `--service_config_url` parameter doesn't seem to work properly (always getting a config error, even though the specified config is the same as the one deployed to GCP endpoints.

[2018-02-16 21:41] yuzhenmi commented on #322
@lei-tang Wouldn't specifying a custom nginx conf cause arguments for SSL and ports like `http2_port`, `http_port`, `ssl_port` lose effect? I'm using these arguments for environment-specific configuration. If I want to enable CORS and override the nginx config, do I have to give these up and deal with them manually in different nginx configs for different environments?

[2018-02-16 22:10] qiwzhang commented on #322
@yuzhenmi Yes, your concerns are correct.  We welcome any PR to improve this.  The challenges is different users may have different CORS config, it is very hard to come up universal to fit all.
One idea is: users provide their CORS config as separate files, mount them into ESP container,  use start_esp flags to specify their paths,  and nginx.conf.template will "include" them

[2018-02-17 13:44] torbjornvik commented on #345
This would greatly help me as well, any thoughts on when this might be available?

@lizan Is there any chance this can be enabled for streaming calls as well or is there a technical reason that can't be done?

[2018-02-20 17:09] yuzhenmi commented on #322
@qiwzhang I think providing the CORS config makes sense and should be available since that enables full flexibility, especially if the use case requires specific CORS configurations for different paths, but I also think for a generic use case, it's an overkill. What are your thoughts on having one or more preset opinionated CORS profiles available for use via command line arguments, with CORS head

[2018-02-20 21:40] yuzhenmi commented on #322
@qiwzhang Any instructions on building ESP for Docker?

[2018-02-21 05:19] yuzhenmi commented on #322
@qiwzhang I forked this project and `endpoint-tools` and made my changes to add new args for cors, but I'm having trouble building ESP as docker image. I don't know how you're suppose to build the image but I ran the `robot-release` script to do it. It did build the image but when I deploy the image on GKE, ESP fails with the error `nginx: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX

[2018-02-21 17:31] qiwzhang commented on #322
Cool.  I am glad to hear that you made it work.

[2018-02-21 17:40] yuzhenmi commented on #322
I'll try to make a PR tonight against `endpoint-tools`. Not sure how you guys coordinate changes made to `endpoint-tools` with `ESP`? I see there is a commit hash reference to `endpoint-tools` from `ESP` in `WORKSPACE`.

[2018-02-21 17:53] qiwzhang commented on #322
Thanks.  Usually we change endpoint-tools first,  test it with ESP with following change:

diff --git a/WORKSPACE b/WORKSPACE
index a9fd1e9..4516051 100644
--- a/WORKSPACE
+++ b/WORKSPACE
@@ -128,10 +128,9 @@ bind(
     actual = "@gflags_git//:gflags",
 )

-git_repository(
+local_repository(
     name = "tools",
-    commit = ESP_TOOL,
-    remote = "https://github.com/cloudendpoints/endpoints-too

[2018-02-21 18:02] qiwzhang commented on #322
The change I like to see for CORS.

1) specify the CORS related nginx config in a separate file, ESP image can carry a default cors config file with "wild open".
2) use nignx "include" feature to include cors config file.
3) use esp argument to enable it, by default , not enabled.
4) also allow users to mount its own cors config file, users can specify its path in the argument.

[2018-02-21 18:46] yuzhenmi commented on #322
I implemented this quite differently.

I don't like supporting CORS via "include" of a CORS config file because it'll just be included inside the location block and would be capable of doing more than just configuring CORS, I think if this type of implementation is added then it should not be named after CORS.

As for the "wide open" preset configuration, doing this with "include" of a config file

[2018-02-21 18:59] qiwzhang commented on #322
@yuzhenmi your approach is good.  Please go ahead.

[2018-03-02 01:29] qiwzhang opened #357 "tests in src/nginx/t all failed with latest perl 5 version 24"
bazel test //src/nginx/t:all

failed for all tests.  The errors are:

Can't locate src/nginx/t/ApiManager.pm in @INC (you may need to install the src::nginx::t::ApiManager module) (@INC contains: /etc/perl /usr/local/lib/x86_64-linux-gnu/
perl/5.24.1 /usr/local/share/perl/5.24.1 /usr/lib/x86_64-linux-gnu/perl5/5.24 /usr/share/perl5 /usr/lib/x86_64-linux-gnu/perl/5.24 /usr/share/perl/5.24 /usr/loca

[2018-03-05 07:58] #204 closed

[2018-03-06 12:02] hobochild opened #360 "Reload ssl certificates"
Hi :wave: ,

I'm working on a k8s cluster where the ssl certificates are managed by [cert-manager]() via letsencrypt. cert-manager update the kube secret every 90 days with the new certificate. The esp is our gateway server and mounts the secret(ssl certs) for nginx.

The problem is that nginx doesn't reload the ssl certs and continues to serve the old ones from memory, do you think it's in this p

[2018-03-06 17:20] qiwzhang commented on #360
@PiotrSikora @lizan do you know if Nginx can watch ssl cert files and reload them if updated?   Or what is the best way for ESP to handle cert update.

[2018-03-06 19:50] PiotrSikora commented on #360
@qiwzhang it doesn't watch files, you need to reload config to pick up updated certificate, by sending `HUP` signal or running `nginx -s reload`. This is graceful reload and safe to do with production traffic.

[2018-03-07 16:24] hobochild commented on #360
@qiwzhang @PiotrSikora Thanks for the feedback!

yea I imagine there'd need to be a process in the container that watches the SSL directory. I did see some discussion within the kubernetes community of a feature where you can restart a service when a secret change but that is suboptimal in comparison to a `nginx -s reload`.

[2018-03-14 20:08] qiwzhang opened #363 "Pass api key from query parameter to header for gRPC transcoding"
If ESP is deployed in a chaining fashion,  first one is doing gRPC transcoding, and second one is for other ESP features,  both ESP proxys need api-key.

If apikey is in the query parameter in HTTP,  when trancoding to gRPC, it should be set to header.

[2018-03-14 20:09] qiwzhang commented on #363
Requested from  https://groups.google.com/d/msg/google-cloud-endpoints/MWsviG-mhiU/g2V-V27WBgAJ

[2018-03-14 20:10] qiwzhang commented on #363
@lizan what do you think?

[2018-03-16 17:41] Rajczyk opened #364 "additional_bindings do not work if you mix methods"
I have the attempted to use both a get method and a post method for a service, and only one outside the additional_bindings becomes available in the ESP.

[code]

If I try an additional_bindings with a get, this works as expected.

using version
 `gcr.io/endpoints-release/endpoints-runtime:1.15.0`

[2018-03-16 18:38] qiwzhang commented on #364
Additional binding is not supported yet in ESP.

It is defined here https://github.com/googleapis/googleapis/blob/master/google/api/http.proto#L303

But ESP code: https://github.com/cloudendpoints/esp/blob/master/src/api_manager/config.cc#L135

doesn't use it.

We welcome contribution to add this feature.

[2018-03-16 19:48] Rajczyk commented on #364
thank you for pointing me to the correct area of code. I think ill attempt to build this.

[2018-03-16 20:23] Rajczyk commented on #364
Okay so I've built a example of an API I want the ESP to be able to support. So the goal is to get the below proto file to work.

one more question, I've been playing with the websocket functionality. I haven't found a elegant way of doing the handshake GET request, before sending data.  Has this handler already been implemented?

[code]

[2018-03-16 21:15] qiwzhang commented on #364
Have you tried this flag:  https://github.com/cloudendpoints/endpoints-tools/blob/master/start_esp/start_esp.py#L493

[2018-03-16 21:27] Rajczyk commented on #364
Yes I enabled it and did a GET request to a resource with the upgrade headers and the underlying nginx proxy responded, instead of the envoy from istio. So I can see a websocket was created.
[code]

Its just I couldn't work out how you would establish a websocket before calling a resource on the ESP. Every time I tried to do this I got a 404, Not Found, because I think the ESP didn't have a handle

[2018-03-16 23:28] qiwzhang commented on #364
Sorry,  I am really confused.  You mentioned both Envoy from Istio and Nginx from ESP.  I don't know which  one not working.

[2018-03-18 12:13] Rajczyk commented on #364
I made a pull request please review
#365

[2018-03-28 12:11] emicklei commented on #323
@sgammon can you confirm the statement of @qiwzhang saying "ESP should pass all client headers into gRPC metadata for both gRPC client and HTTP client."
We have an issue passing our custom headers such "ctx_locale" ; this is absent in our gRPC server.

[2018-03-28 12:55] ensonic opened #366 "Option to host open-api spec on a given path"
We're using a grpc backend with an additional service.yaml. In order to use tools like swagger-codegen one needs the finals opne-api.spec then ESP realizes. Right now we're using a proto compiler tool (https://github.com/grpc-ecosystem/grpc-gateway/tree/master/protoc-gen-swagger), but that currently can't take data from service.yaml, so the resulting open-api.spec is incomplete. While there is a p

[2018-03-28 16:26] emicklei commented on #323
hi, we found this issue.
Because the custom headers included and underscore "_" in their name was the reason it was not passed.

[2018-03-28 16:27] qiwzhang commented on #366
@ensonic not exactly understand the request here.  Could you use a usage case to clarify it?  Thanks

[2018-03-28 17:08] sgryschuk-va opened #367 "Receiving 503 on first hits of newly deployed endpoints"
version: `gcr.io/endpoints-release/endpoints-runtime:1.12.0`
example args used:
-s snapshot-api-test.vendasta-internal.com
-v 2018-03-27r1
-abgrpc://127.0.0.1:11000
-p 11003
-P 11005
-S 11006
-z healthz
-n /etc/nginx/mscli/nginx.conf

Issue:
The first time our service is hit with a request everything works correctly.
If instead of a single first request, if we run multiple requests in parallel the

[2018-03-28 17:40] ensonic commented on #366
I am asking for an commandline option that I could use like here:
https://github.com/cloudendpoints/esp/blob/master/doc/k8s/README.md#deploying-the-sample-api-to-the-cluster
e.g.: `--open-api-json="/api/v1/spec.json"
that will host the open-api spec under this path. It might make sense to offer both json/yaml via separate args. This will let people use tools like [swagger-code-gen](https://github.

[2018-03-28 19:04] qiwzhang commented on #366
I see. Thanks.
It is not easy for ESP to support it.  It is much easier for backend service to support it.

[2018-03-28 19:23] qiwzhang commented on #367
You can ignore the "Received non-matching report response " warning.  It is benign.  we may consider removing it.

ESP needs to call meta-data server for some credential.  It is triggered by the first request. If there are multiple concurrent requests at the start of ESP, only first triggers  the call to meta-data server,  the rest will be replied with 503, hoping client will re-try them.

The cod

[2018-03-28 19:33] bbassingthwaite-va commented on #367
@qiwzhang I don't think that this could be a proper solution.  From my POV, the endpoints container needs to expose a k8s liveness check and only return 200 when it is actually capable of serving traffic. If the esp container needs to do setup (fetch tokens, fetch metadata) before serving traffic, it should do that and not serve 503s on startup.

[2018-03-28 23:56] qiwzhang commented on #367
We could remove the current optimization to such:
if there are N concurrent requests before the first meta-data call is completed,  send N requests to meta-data server, don't fail any request.

@mangchiandjjoe  could you help to make such change?

[2018-03-28 23:57] qiwzhang commented on #367
Please also remove the warning of "Received non-matching report ...",  it is misleading.

[2018-03-29 06:49] rlindooren opened #368 "Request: release with 'client_body_buffer_size' change from endpoints-tools"
I made a change in the endpoint-tools project: https://github.com/cloudendpoints/endpoints-tools/pull/53.

I would like to start making use of it. Is it possible to create a new release of the esp Docker image (gcr.io/endpoints-release/endpoints-runtime) that contains this change?

[2018-03-29 07:59] ensonic commented on #366
What do you mean by backend service? Is it now esp that fused the proto grpc config with the service.yaml?

[2018-03-29 16:40] qiwzhang commented on #366
Not,  ESP is using service config in this format.  https://github.com/googleapis/googleapis/blob/master/google/api/service.proto#L74.

It is "ServiceManagement" component fused proto grpc config with service.yaml into this format when you run "gcloud" CLI command.   But ServiceManagement did not save the original data.

Backend service is referring to your application.  Your application server can

[2018-03-29 16:41] qiwzhang commented on #368
Next ESP release will pick up this change.  We do ESP release in every 2, 3 weeks.

[2018-03-29 16:48] rlindooren commented on #368
Ok, thanks for your answer.

[2018-03-29 16:48] #368 closed

[2018-03-30 20:45] zeroflaw opened #370 "Increase the 60 second http request timeout"
Hi,

Is there a way to increase the http timeout beyond 60 seconds?

[2018-03-30 21:19] qiwzhang commented on #370
Which http timeout are you referring to?   The upstream http to the backend?   or the side-way http  to talke to other services such as ServiceControl?

[2018-03-30 21:24] zeroflaw commented on #370
Honestly, I'm not sure where in the ESP the timeout is happening. I do know if I open my grpc stream directly to the backend it wont timeout. From the tracing I am at the backend for exactly 60 seconds before it gets closed. Do both the upstream and side-way http have settings that I can change for testing?

[2018-03-30 21:54] qiwzhang commented on #370
Which platform do you run ESP on?   I remember Flex has 60 second timeout from its GCLB.  It is not from ESP.

[2018-03-30 22:01] zeroflaw commented on #370
I'm using Kubernetes on Google Cloud, and I do have a GCLB in front of this service. If I point my ingress directly to the GRPC backend. Its working and not timing out. If I point ingress to ESP, it works for exactly 60 seconds.

Is the GCLB adding the 60 second timeout header? which the ESP is using?

[2018-03-30 22:29] qiwzhang commented on #370
@lizan ESP is using gRPC client library,  what is its timeout?

[2018-03-30 22:33] lizan commented on #370
@zeroflaw I think you're hitting `client_body_timeout` which is default to 60s.
You can use a custom nginx.conf to set this manually.
http://nginx.org/en/docs/http/ngx_http_core_module.html#client_body_timeout

[2018-03-30 22:43] zeroflaw commented on #370
I did a test and exposed a nodeport directly to the ESP, and I still timeout after exactly 60 seconds.

@lizan  Thanks for the link I will look into this and test.

[2018-04-03 09:07] ensonic commented on #366
Servicemanagement seems to use this tool https://github.com/googleapis/api-compiler. The whole interaction is not very clear. Sorry for asking on the wrong side.
Serving the file ourself will need to patching of the ngix config. Will give this a try.

[2018-04-04 11:57] #366 closed

[2018-04-09 02:05] chengqiyu1987 commented on #322
@qiwzhang do you know when would @yuzhenmi 's new change will be released? Looks like it would be released together with endpoints-runtime, do you know the timeline for that release?

[2018-04-09 13:40] jrans-va commented on #367
Looks like the fix for this is on master, could we please get a release published that includes it @mangchiandjjoe ?

[2018-04-09 15:52] qiwzhang commented on #367
Yes, we will make a ESP release this week.

[2018-04-09 15:54] qiwzhang commented on #322
We will make an ESP release this week.

[2018-04-09 16:06] chengqiyu1987 commented on #322
Awesome, thank you.

2018-04-09 11:54 GMT-04:00 Wayne Zhang <notifications@github.com>:

[2018-04-10 00:37] zeroflaw commented on #370
@lizan that fixed it thanks 👍

[2018-04-10 00:37] #370 closed

[2018-04-10 02:33] jrans-va commented on #367
Thanks for the release. I tried it out today and it did stop the "Failed to fetch metadata" errors we were seeing. Unfortunately, now still seeing a very similar error:
[code]

Looks like it's almost the exact same problem as we had with the metadata fetch - https://github.com/cloudendpoints/esp/blob/master/src/api_manager/fetch_metadata.cc#L145.

[2018-04-18 02:31] huysamen commented on #322
Any update on this? We are experiencing the same issue.

[2018-04-18 03:30] jrans-va commented on #367
@mangchiandjjoe @qiwzhang Are you able to help with the issue in the last comment as well? Seems like basically the same issue but with the service account token instead of the metadata.

[2018-04-24 09:42] huysamen commented on #322
Any chance this made it in to the 1.17.0 release?

[2018-04-26 06:30] MrMage opened #385 "After a few seconds of idle time, the next request to ESP has high latency"
I am using ESP with Cloud Endpoints connected to a gRPC backend deployed on Kubernetes engine. The proxy is configured with a working SSL certificate from Let's Encrypt.

To support Stackdriver uptime monitoring via HTTPS, I have set up an endpoints forwarding rule like this (should be irrelevant, though; I can reproduce this with direct gRPC calls as well):

    http:
      rules:
      - selecto

[2018-04-26 17:02] qiwzhang commented on #385
@lizan could you help?

[2018-04-26 20:12] lizan commented on #385
I believe this is because ESP call Service Control and caches it for a second, so after idle, ESP will call Service Control again. Not sure why "backend latency" are shown that high though.

@qiwzhang Is there anyway to disable Service Control call for a specific path?

[2018-04-26 20:30] MrMage commented on #385
FYI it feels like the increased delay starts re-occurring after a few seconds — more than one second, but definitely less than five minutes.

[2018-04-26 23:12] qiwzhang commented on #385
@lizan is it possible that the gRPC channel (tcp connection) from ESP to the backend got reset after a few seconds.   Not sure what is the default idle reset timeout for gRPC connection?

[2018-04-27 05:02] MrMage commented on #385
FYI, I am using the SwiftGRPC library for dealing with gRPC. That library is still a bit immature, but does call into gRPC-Core for all the heavy lifting. Also happy to do/enable any debug logging to help with that?

[2018-04-27 09:26] MrMage commented on #385
I have tried this now several times with the following command

    date; time curl -v --data "" --http2 --header "X-Cloud-Trace-Context: $(openssl rand -hex 16)/0;o=1" https://my.domain/my.service.Name/HealthCheck; date

The curl verbose output correctly shows:

However, I don't see any traces whatsoever in the trace dashboard; not for this one and not for previous ones even though I have sent se

[2018-04-27 16:08] qiwzhang commented on #322
Yes, it should be in 1.17.0 ESP release

[2018-04-27 23:54] mangchiandjjoe commented on #385
Hello Daniel, I have tried to reproduce the high latency problem on my account, but no luck to do it.

Some of my tests are:

$ date && time curl --silent http://35.224.19.68/shelves?api_key=<my_api_key> -o /dev/null
Fri Apr 27 16:41:17 PDT 2018

real    0m0.208s
user    0m0.008s
sys     0m0.008s
$ date && time curl --silent http://35.224.19.68/shelves?api_key=<my_api_key> -o /dev/null
Fri Apr 27

[2018-04-28 00:04] mangchiandjjoe commented on #385
In my test environment, latencies of ServiceControl APIs are stable.
It took from 10ms to 60ms when the response is not cached and less than 1ms for cached response.

[2018-04-30 07:17] huysamen commented on #322
Confirmed, working perfectly, thanks!

[2018-04-30 17:26] #322 closed

[2018-05-02 08:01] MrMage commented on #385
Hi Jae,

Thanks for trying this. Stackdriver Trace API is already enabled, but doesn't receive any request (see the very bottom of the second screenshot):

<img width="1747" alt="screen shot 2018-05-02 at 09 59 48" src="https://user-images.githubusercontent.com/117466/39512016-b5fb8556-4def-11e8-8ab2-915c8f6ac990.png">
<img width="1730" alt="screen shot 2018-05-02 at 09 59 58" src="https://user-im

[2018-05-02 16:36] qiwzhang commented on #385
Cloud trace should work for gRPC too.  Could you show your cloud console "STACKDRIVE > Trace > Overview" page?

[2018-05-02 16:46] MrMage commented on #385
I'm on the go right now, but I can assure you it's completely empty. Not a single trace. Which is unsurprising given that the API seems to have never been called.

[2018-05-02 16:47] qiwzhang commented on #385
BTW,  are you using service_account key?   Are you using "-k"  or "--service_account_key" flag when deploying ESP.

https://github.com/cloudendpoints/endpoints-tools/blob/master/start_esp/start_esp.py#L415

If so, it is possible that your service account  may not have permission to talk to Stack Driver.

[2018-05-02 16:55] MrMage commented on #385
I'm not using that key — I think ESP uses my default GCE (or GKE) service account credentials provided by the environment. Do those have Stackdriver access by default?

[2018-05-02 17:04] MrMage commented on #385
Update: I had already added the "Trace Agent" role to the GCE service account and now added "Logs Writer" as well. Is that sufficient or should I add more roles, or use a dedicated service account instead?

[2018-05-02 17:10] qiwzhang commented on #385
If you don't use "-k" flag,  ESP is using the access token from GKE metadata server which is generating the access token from the default service account.

Could you check ESP logs  by "kubectl logs" on ESP container?

I am wondering if I can see this error log:

https://github.com/cloudendpoints/esp/blob/master/src/api_manager/cloud_trace/cloud_trace.cc#L159

[2018-05-02 17:31] qiwzhang commented on #385
Yes,  I believe so.  All our tests are using the default service account.  It works.

[2018-05-02 18:03] MrMage commented on #385
Damn. Anything else I can try, eg. enable extra logs?

[2018-05-03 02:06] mangchiandjjoe commented on #385
I am sorry for the late response. My test was also using gRPC.

To enable debug log, you need to use the custom nginx config file.

You can download the your current nginx configuration file from your pod.
[code]

Then change the log level to debug.
[code]

You can use the modified nginx.conf for the endpoint runtime pod.

Please find more information the link below.

https://cloud.google.com/endp

[2018-05-03 18:15] MrMage opened #387 "[gRPC] User-Agent header is overwritten by ESP"
I wanted to use the `user-agent` header to shut out old app versions from my service. However, my backends logs indicate a user agent string of

    grpc-c++/1.4.2 grpc-c/4.0.0 (linux; chttp2; gregarious)

which is not the one provided by my client, and accessing my backend directly works.

Would it be possible for ESP to forward the original user agent header to my backend?

[2018-05-03 18:28] qiwzhang commented on #387
ESP is calling grpc lib as grpc client when talking to backend.  Need to dig into gRPC code to see how easy to disable it.

[2018-05-03 18:29] qiwzhang commented on #387
@lizan, @fengli79 do you know if there are ways for gRPC not setting user-agent?

[2018-05-03 18:41] MrMage commented on #385
It looks like the service account token is created with insufficient scopes:

    E  2018/05/03 18:31:36[debug]43#43: Not sending request to CloudTrace: no traces or project_id is empty.
    E  2018/05/03 18:31:37[debug]43#43: Request method SET TO: POST
    E  2018/05/03 18:31:37[debug]43#43: Metadata already available. Fetch skipped.
    E  2018/05/03 18:31:37[debug]43#43: Auth not required.

[2018-05-03 18:51] MrMage commented on #385
BTW this is one of the traces in a slightly prettier format:

    {"traces":[{"projectId":"***-201711"
    "traceId":"80469b21d19002d8ad430c970d866f5e"
    "spans":[{"spanId":"14946681223369663086"
    "kind":"RPC_SERVER"
    "name":"***.***.endpoints.***.cloud.goog/***.RegisterUser"
    "startTime":"2018-05-03T18:31:37.343786581Z"
    "endTime":"2018-05-03T18:31:38.893197235Z"
    "labels":{"trac

[2018-05-03 19:18] MrMage commented on #385
Okay, I was able to manually create a service account that could send traces. Still surprising that it didn't work with the default service account, though.

Here are two trace screenshots; the first is slow and the second, subsequent one, fast:

<img width="1739" alt="screen shot 2018-05-03 at 21 16 36" src="https://user-images.githubusercontent.com/117466/39597996-74bf7006-4f17-11e8-8bf1-9aaa4d2

[2018-05-03 21:03] qiwzhang commented on #385
I will close this issue then.

[2018-05-03 21:03] #385 closed

[2018-05-03 21:05] qiwzhang commented on #387
If grpc.primary_user_agent can only be set in a channel,  then it is infeasible for ESP to set it since the channel is shared by all requests.

[2018-05-03 21:05] qiwzhang commented on #387
If you don't mind, I will close this issue

[2018-05-03 21:06] #367 closed

[2018-05-04 13:02] MrMage commented on #387
I've looked into the gRPC code base and it indeed looks like there is no way to override the user agent on a per-request basis.

What would be possible, though, would be to add an `x-forwarded-user-agent` metadata header, similar to the `x-forwarded-for` proxied IP address — is this something you would consider?

Speaking of which, is it possible that the `x-forwarded-for` header is not populated

[2018-05-04 13:05] MrMage opened #388 "Is it possible to view the streaming request/response message counts in Stackdriver monitoring?"
According to the debug logs, the following metrics are recorded:

    esp	May 3, 2018, 8:19:09 PM	metrics: "serviceruntime.googleapis.com/api/consumer/response_bytes"
    esp	May 3, 2018, 8:19:09 PM	metrics: "serviceruntime.googleapis.com/api/consumer/request_bytes"
    esp	May 3, 2018, 8:19:09 PM	metrics: "serviceruntime.googleapis.com/api/consumer/streaming_durations"
    esp	May 3, 2018, 8:19:0

[2018-05-04 16:11] qiwzhang commented on #387
Current gRPC implementation in ESP is not perfect. At that time, Nginx upstream did not support http2, we had to build a Nginx content handler calling gRPC c++ library.  It is possible that many of upstream proxy features such as x-forward-for-xxx may have not be implemented.

Just for metadata, it should not be so difficult.  It could be just some small changes in this function
https://github.com

[2018-05-04 16:16] qiwzhang commented on #388
Currently only cloud trace is using Stackdriver in ESP.  Its cloud trace only sending latency related info, span or child span.   ESP send above metric to Google service control service,  I am not sure if that service sending the metics to Stack driver or not.  I will check

[2018-05-04 20:52] MrMage commented on #387
Don’t worry, I’m simply transferring this info via a different metadata header now :-) Ig uess you can clos this.

[2018-05-10 13:34] MrMage commented on #388
Thank you for looking into this! Were you able to find anything?

[2018-05-10 16:45] qiwzhang commented on #388
Hi @MrMage

streaming_response_message_counts and streaming_request_message_counts are not send to Stackdriver.  Here is the document on what metrics are supported:

https://cloud.google.com/monitoring/api/metrics_gcp#gcp-serviceruntime

[2018-05-10 18:10] MrMage commented on #388
Thanks for the info! But where does the Endpoints dashboard get those metrics from then?

[2018-05-11 19:02] sbsends opened #391 "gRPC JWT Validation with Google ID"
Is it impossible to authenticate a gRPC service with a Google ID?

[code]

[code]

[2018-05-11 20:10] bourquep commented on #271
Any idea when this might be implemented? I'm facing the same situation.

[2018-05-11 20:52] sbsends commented on #391
@lizan @timburks @inklesspen @myidpt @PiotrSikora

[2018-05-11 21:12] lizan commented on #391
The error suggests that ESP cannot retrieve key from `https://www.googleapis.com/oauth2/v3/certs`, is this URL accessible from where you run ESP?

[2018-05-12 23:39] sbsends commented on #391
@lizan, I figured out how to handle Google ID by walking through the openAPI docs. Thank you.

[2018-05-12 23:39] #391 closed

[2018-05-24 08:49] robertlemmen opened #395 ""a client request body is buffered to a temporary file""
hi, we are seeing many entries of the above type in the esp logs, and also observe unexplained latencies that could be related:

2018/05/24 06:52:13 [warn] 12#12: *1 a client request body is buffered to a temporary file /var/cache/nginx/client_temp/0000000002, client: *********, server: , request: "POST /********************************** HTTP/2.0", host: "*******************************"

the cal

[2018-05-24 09:28] robertlemmen commented on #395
fwiw, the stack trace where that line is emitted:

#0  0x0000000000717074 in ngx_http_write_request_body ()
#1  0x0000000000717cb3 in ngx_http_request_body_save_filter ()
#2  0x000000000070280c in ngx_http_v2_filter_request_body ()
#3  0x0000000000702cc8 in ngx_http_v2_process_request_body ()
#4  0x0000000000705741 in ngx_http_v2_read_request_body ()
#5  0x0000000000717663 in ngx_http_read_client_

[2018-05-24 15:41] maguro commented on #322
This is not a good solution for me since I don't want a **fixed** 204 response.  I want the CORS request to be processed by the backend, where I can perform a proper CORS check.

[2018-05-24 16:42] qiwzhang commented on #395
@lizan @PiotrSikora Any ideas?

[2018-05-26 00:32] qiwzhang commented on #388
@MrMage Endpoint dashboard backend is a Google service which can get metrics internally from other google services.   For external services, I believe you can get these metrics from exposed Stackdriver API.

[2018-05-28 21:02] lei-tang commented on #322
CORS requests (i.e., http OPTIONS requests) are HTTP requests. Thus for CORS requests to reach a grpc backend, they will go through grpc transcoding. If you want to handle http OPTIONS requests in your grpc backend, there is a way to direct the http OPTIONS requests to a grpc method defined on your grpc backend for handling the OPTIONS requests. The following is an example created as a proof of co

[2018-05-30 11:29] MrMage commented on #388
Filed https://issuetracker.google.com/issues/80443161.

[2018-05-30 16:20] #388 closed

[2018-06-06 01:46] lei-tang commented on #271
@bourquep , @MrBlaise , @Daniel-Houston, can you share your configurations and your steps to reproduce the problem? I created a PR https://github.com/cloudendpoints/esp/pull/399 for this problem and I hope to test whether this PR fixes the problem. If you like, you can also try this PR on your end and let me know the result. Thanks!

[2018-06-06 08:38] MrBlaise commented on #271
Nothing special configuration, I am doing everything that is written in the Kubernetes Engine tutorial (https://cloud.google.com/endpoints/docs/openapi/get-started-kubernetes-engine) and then set up custom domain according to this: https://cloud.google.com/endpoints/docs/openapi/serving-apis-from-domains I also use auth0 so I followed this guide: https://auth0.com/docs/integrations/google-cloud-pl

[2018-06-07 17:36] MrBlaise commented on #271
Sorry I left most important part
[code]

The `https://auth.redacted.com` will fail with self signed error, when trying to authenticate the user.

[2018-06-11 17:20] lei-tang commented on #271
@MrBlaise , thank you for sharing the steps to reproduce the problem!

[2018-06-11 17:23] lei-tang commented on #271
The support of SNI (Server Name Indication) for https clients has been added to ESP by the commit https://github.com/cloudendpoints/esp/commit/3fe87fd99029c30ed1c919d9114675e127ffb152.

[2018-06-11 17:24] lei-tang commented on #262
The support of SNI (Server Name Indication) for https clients has been added to ESP by the commit https://github.com/cloudendpoints/esp/commit/3fe87fd99029c30ed1c919d9114675e127ffb152.

[2018-06-11 17:51] lei-tang commented on #303
The error message ("JWT validation failed: Unable to fetch verification key") in this issue is the same as that of the issues https://github.com/cloudendpoints/esp/issues/262 and https://github.com/cloudendpoints/esp/issues/271, which are caused by ESP's lack of SNI (Server Name Indication) support for https clients. The support of SNI for https clients has been added to ESP by the commit
https://

[2018-06-12 07:13] MrBlaise commented on #271
Great news! Thank you! When will this release?

[2018-06-12 07:42] lei-tang commented on #271
It should be released either this week or next week.

[2018-06-15 04:34] lizan commented on #271
ESP [1.20.0](https://github.com/cloudendpoints/esp/releases/tag/v1.20.0) was released and contains the fix. Let me know if this solves your issue.

[2018-06-15 04:34] lizan commented on #262
ESP [1.20.0](https://github.com/cloudendpoints/esp/releases/tag/v1.20.0) was released and contains the fix. Let me know if this solves your issue.

[2018-06-15 04:34] lizan commented on #303
ESP [1.20.0](https://github.com/cloudendpoints/esp/releases/tag/v1.20.0) was released and contains the fix. Let me know if this solves your issue.

[2018-06-15 08:58] MrBlaise commented on #271
It works now 🎉  Thanks!

[2018-06-15 09:55] #271 closed

[2018-06-16 02:43] ashi009 opened #403 "Export config manager status as a metrics"
For managed rollouts, it's unclear that which version of config is deployed.  This information is currently only available from `/endpoints_status`, and should be exported through the standard channels, eg. with a custom metric for esp.

[2018-06-18 06:27] ashi009 opened #404 "Allow forwarding healthz/ to a different backend port"
For gRPC implementation in go, serving both HTTP and gRPC on the same port is still [problematic](https://github.com/grpc/grpc-go/issues/586), so a production service is unlikely to serve monitoring endpoints (`healthz/`, `metricz/` and those `*z/` ones) on the grpc port.

So I think it's a good idea to allow healthz/ to be forwarded to a different port other than the grpc port.

[2018-06-18 07:41] antoniomo commented on #387
Hi,

Any chance to reopen this? Even though using a separate metadata header (set from the client) is a workaround, that doesn't fix the issue. The proposed `x-forwarded-user-agent` would be a good solution requiring only backend service changes, but this workaround requires changes on clients as well, so hardly ideal and not always doable.

[2018-06-18 15:45] qiwzhang commented on #387
Yes, we can open the issue.  But we are short of resource, we welcome any contribution.

[2018-06-19 06:35] antoniomo commented on #387
Understood! I guess it's good to have it open to lure contributors :) Thanks!

[2018-06-19 06:38] lizan commented on #404
It is possible to do this with custom nginx.conf by adding something like this:

[code]

before the regular grpc_pass directive. I haven't got chance to try but it should work.

[2018-06-19 07:07] ashi009 commented on #404
Yep, I know this would work but would love to have this out-of-the-box.

[2018-06-19 08:17] lizan commented on #404
I see. We already have kind of support in nginx.conf template to let ESP return a hardcoded 200 [here](https://github.com/cloudendpoints/endpoints-tools/blob/master/start_esp/nginx-auto.conf.template#L81), feel free to open an PR to endpoints-tools to make it generates proxy_pass directive.

[2018-06-19 08:35] ashi009 commented on #404
Speaking of that, I found that providing a `healthz/` handler with consistent 200 response is just misleading and for that case it should be called `nullz/`  instead.

[2018-06-19 16:42] qiwzhang commented on #404
@ashi009 agreed that the new health port forwarding to the backend should be called healthz.   But to be backward compatible (not to break existing customers),  we may have to keep the current name.  We have to come up a new name for the new port.

[2018-06-20 16:58] ashi009 opened #405 "Add config ID in the log-entry"
When performing a managed rolled out, It’s absolutely necessary to distinguish the logs and metrics generated by old config and the new ones.

The config id should be presented as a label to provide better insights of what’s going on with the rollout.

[2018-06-21 12:20] moander opened #406 "Option to NOT reject unknown paths"
I'm trying to replace my current NGINX proxy with ESP but all paths are not documented in the swagger file. This causes the ESP to reject those requests.

Is it possible to configure the ESP to instead pass all requests down stream?

[2018-06-21 15:07] qiwzhang commented on #406
Yes, there is a way.  Instead of using swagger file, you may have to use gRPC API configuration.  We just call it "gRPC API configuration", it also works for HTTP/JSON too.

Here is his reference:  https://cloud.google.com/endpoints/docs/grpc-service-config/reference/rpc/google.api

Here is the doc: on how to use it.  https://cloud.google.com/endpoints/docs/grpc/grpc-service-config

You can add fo

[2018-06-21 15:09] qiwzhang commented on #406
Hi @kryzthov Does "Unspecified path" works from OpenAPI spec?

[2018-06-21 15:17] kryzthov commented on #406
@qiwzhang There is no support for "unspecified paths/operations" in the OpenAPI spec. The gRPC API config is still the way to go.

[2018-06-22 07:56] moander commented on #406
Thank you @qiwzhang. You say instead of the swagger file. Will the ESP still report usage statistics to Google Endpoint for my swagger paths?

I get `unknown directive "rules"` when adding the rules section to nginx.conf.

[2018-06-27 16:28] qiwzhang commented on #406
"rules" is not in the nginx config.   It is Google Endpoint service config. You need to use "gcloud endpoints" CLI to push the service config for endpoint proxy to use it.
Yes, usage will be reported,  but they all under method "Unspecified.Paths".

[2018-06-28 07:39] moander commented on #406
Ok but then what's the point? Isn't monitoring what endpoints is all about? ;)

[2018-07-03 02:11] surajbarkale opened #407 "Expose all JWT claims in X-Endpoint-API-UserInfo"
We are trying to identify anonymous Firebase users passed through by ESP. However, the provided fields in `X-Endpoint-API-UserInfo` are not sufficient. Firebase provides following additional claims which are useful in this case:
[code]
Since we are using ESP with app engine flexible, there does not seem to be a way to configure extra claims passthrough. ESP can trivially report all claims in JWT b

[2018-07-05 18:58] bootstraponline commented on #350
[code]

I have TLS mutual auth working on `esp` using an insecure gRPC server. ESP is doing SSL termination. Is there a way of enabling SSL passthrough so the communication between ESP and the gRPC server is secure?

[2018-07-06 06:55] ChrisTerBeke commented on #350
@bootstraponline I would use different certs on your internal services to secure them.

[2018-07-07 01:53] bootstraponline commented on #350
Agreed, I am using the [cfssl](https://github.com/bootstraponline/grpc_java_auth/blob/master/soseedygrpc/openssl/cfssl.sh) library combined with a kubernetes volume mount which uploads the secret certs.

---

SSL passthrough does **not** work. I have a complete example [in this repo](https://github.com/bootstraponline/grpc_java_auth/pull/4). SSL termination on the load balancer works. SSL passthro

[2018-07-07 19:07] ChrisTerBeke commented on #350
I also didn't get it to work. We actually migrated away from ESP to our own OAuth2 implementation, so I never bothered to figure it out further.

[2018-07-07 20:01] bootstraponline commented on #350
Thanks.

Maybe one day ESP will support SSL passthrough. 🙂 Until then I think SSL termination at the load balancer is sufficient for my use case.

[2018-07-10 17:36] lei-tang commented on #407
The [PR 409](https://github.com/cloudendpoints/esp/pull/409) that adds JWT claims to the X-Endpoint-API-UserInfo header has been committed in https://github.com/cloudendpoints/esp/commit/d38f25b2e0a75598d505c9b2fca1e941ada3bde4.

[2018-07-12 11:28] ensonic opened #412 ""Invalid HTTP template" for patch method"
Tested on "gcr.io/endpoints-release/endpoints-runtime:1.21"

I have this in my proto:
[code]

When starting my service I get this log warning:
[code]
and the update() method in my grpc service is never called when doing PATH requests on the ESP. The patch requests have all the right details as can be see in the chrome dev console and the esp logs).

The error message could also be improved to give

[2018-07-12 15:38] #407 closed

[2018-07-12 16:18] qiwzhang commented on #412
I think it is  possible that you may have duplicated URL template in your proto file.

I have following unit-test to try your case.  It passed
[code]

[2018-07-12 20:18] ensonic commented on #412
Wow, there is indeed a duplicated template. Someone added a
[code]
(without the 'bar') also using the 'patch' verb instead of 'get'. Any change we can get a better error message in the logs?

[2018-07-13 01:05] ffredsh opened #413 "Can't get status details to work in ESP"
I don't have too much debug information for this issue, so sorry in advance..

I currently have a GRPC server in Go that responds with the detail field populated. According to this pull, it should have been available since ESP 1.13:

https://github.com/cloudendpoints/esp/pull/334

I *have* been able to get this working with grpc-gateway, and have verified that my server is indeed setting the "grpc

[2018-07-13 01:42] qiwzhang commented on #413
This is a known issue.   "details" field type is "Any".  You can use any message type.  When ESP tries to convert it to JSON, it doesn't have the proto descriptor linked in the ESP binary, so it could not convert it to JSON.

[2018-07-13 02:36] ffredsh commented on #413
Is there some list of protos that *are* useable? I see from https://github.com/cloudendpoints/esp/issues/204 rpc.BadRequest seems to work. Can I reasonably expect that to always be the case?

[2018-07-13 04:51] ffredsh commented on #413
Maybe a dumb question, but how does ESP serialize/deserialize JSON requests then? I thought ESP handles the transcoding with a provided proto descriptor file:

https://cloud.google.com/endpoints/docs/grpc/transcoding

I did ensure that we are bundling the error detail in the proto descriptor bundle we're uploading to endpoints. Is there some pruning that removes descriptors not used by services?

[2018-07-15 18:59] ashi009 opened #414 "Will there be api manager client libraries?"
Is there a plan to add new API manager client libs for other languages?

After trying esp, I found that it might not be the best solution for a gRPC server developed on-premises. The features like logging, tracing, authentication, metrics exporting are already supported through interceptors.

The missing bits are:

- transcoding (gRPC-web, RESTful)
- quota management
- api manager for managed conf

[2018-07-16 16:57] qiwzhang commented on #414
Are you talking about the auto generated client library for your application service that your put ESP in front of?  If so, we don't have plan for this feature for now.

[2018-07-16 17:08] qiwzhang commented on #413
gRPC transcoding is using the proto descriptor uploaded as service_config.  But error translation code is not using the the service config.

[2018-07-17 02:47] ffredsh commented on #413
Why? Is there any technical reason why this is not possible, or just that nobody has gotten around to it yet?

[2018-07-17 09:39] ashi009 opened #415 "nginx blocks gRPC calls with custom endpoint scheme"
I have created a custom endpoint scheme and a resolver for handling service name resolving within a k8s cluster:

[code]

Which issues a gRPC request with the host header set as `${namespace}/${service}`. However, nginx doesn't like it and replied with 400:

Per https://github.com/grpc/grpc/blob/master/doc/naming.md:

endpoint_name part is not necessarily a valid dns name, and therefore nginx shou

[2018-07-17 16:11] qiwzhang commented on #415
This is a Nginx issue.  The request is rejected by Nginx Http core module, before reaching ESP handler. Could you file the issue to Nginx?

[2018-07-17 18:18] ashi009 opened #416 "FR: Transcode X-Cloud-Trace-Context to grpc-trace-bin"
X-Cloud-Trace-Context from HTTP request is forwarded to gRPC backend as-it. However, gRPC expects a trace token in binary format from `grpc-trace-bin`.

The two formats are interchangeable, so it would be nice if this is done in the ESP instead of the gRPC backend, as this is where the grpc-web to grpc transcoding happens.

(or should ESP use the binary format as well and make it a flag?)

The sam

[2018-07-17 18:40] qiwzhang commented on #416
ESP could translate from X-Cloud-Trace-Context to grpc-trace-bin for HTTP/gRPC transcoding case.  We welcome contribution to add this translation.

[2018-07-17 21:49] ffredsh commented on #413
Perfect, thanks! I will take a stab at it in the next few weeks. I am a bit too busy to work on it ATM. I might bug you again if I need more info :)

[2018-07-17 23:13] ashi009 commented on #416
After giving it a second thought, this is more difficult than I expected.  For trace data passed within a cluster, an ESP must understand `grpc-trace-bin` sent from a gRPC backend to another which is also behind an ESP, or the trace won't be complete.

So why ESP is using the old format, given [the comment](https://github.com/census-instrumentation/opencensus-go/issues/594#issuecomment-374052772)

[2018-07-17 23:22] qiwzhang commented on #416
Cloud trace document <https://cloud.google.com/trace/docs/support> still uses X-Cloud-Trace-Context.  There are still many tools using this header.

[2018-07-17 23:32] rakyll commented on #416
/cc @bogdandrutu

We should do a better job explaining where grpc-trace-bin is supported but this is our new way of propagating trace context for gRPC right now all across GCP. Our load balancers are already supporting this format.

[2018-07-18 09:40] ashi009 commented on #414
Yep, that's exactly what I want. Looking forward to having that feature in the future.

[2018-07-18 17:45] hannesholst commented on #348
Is there an update on this? I'm having the same issue. Trying to get an HTTP call with a Content-Type = application/x-www-form-urlencoded to be transcoded to a post annotated gRPC call... The endpoint calling my gRPC service only supports this Content-Type, application/json is not possible.
Any suggestions or workarounds?

[2018-07-18 18:16] qiwzhang commented on #348
We don't have resource to work on this feature.  We welcome community contribution.

[2018-07-19 23:50] ashi009 opened #419 "rollouts_refresh_timer_ should have a jitter"
The managed rollouts should use a jittered timmer:

https://github.com/cloudendpoints/esp/blob/1775d95306a21ae43d71ec20f633600074ab4119/src/api_manager/config_manager.cc#L62-L64

[2018-08-01 14:59] dansiviter opened #421 "Feature Request: OpenAPI Extension for WebSocket"
We have a requirement to use WebSocket connections from our API, but the OpenAPI specification does not support this. However, I was thinking the ESP could have an extension to permit HTTP `Upgrade` where it could be initially authenticated using the usual mechanisms then hand off to Nginx to allow the WebSocket connection. This would be somewhat similar to the behaviour Kong does which I'm curren

[2018-08-01 16:04] qiwzhang commented on #421
Have you tried this ESP flag  --enable_websocket.
<https://github.com/cloudendpoints/esp/blob/master/start_esp/start_esp.py#L515>

[2018-08-01 16:06] qiwzhang commented on #415
@ashi009 should I close this issue?

[2018-08-01 16:06] #414 closed

[2018-08-01 17:35] dansiviter commented on #421
Thanks. How would that be used in the context of GCP Endpoints and the OpenAPI definition? Are there any examples?

[2018-08-01 17:48] qiwzhang commented on #421
ESP supports following GCE platforms:  App Engine Flex,   Compute Engine, and GKE.
Please check out this doc <https://cloud.google.com/endpoints/docs/openapi/>

This flag will not work for Flex,  but it should work for GKE and Compute Engine with docker.

For GKE example,   here is its instruction.  <https://cloud.google.com/endpoints/docs/openapi/get-started-kubernetes-engine>

In its deployment.

[2018-08-01 18:10] dansiviter commented on #421
Thanks again.

So it effectively would just ignore the `Upgrade` request in relation to the OpenAPI definitions and just pass it through? I'm assuming it would still verify authentication (via JWT or other)?

[2018-08-01 20:00] dansiviter commented on #421
Thanks for the info. I'll run it up and see what happens.

[2018-08-07 07:18] ashi009 commented on #415
Don't know if this is indeed an FR or bug for nginx, as this is a very specialized use case from its design.

I'm lean to create a local patch for nginx to make it possible.

[2018-08-07 14:52] liam-j-bennett commented on #323
Has there been any progress on this? I'm looking for a way to send on the real IP of the remote client to gRPC using esp (similar to ```proxy_set_header X-Real-IP $remote_addr;``` for non-grpc). Wouldn't mind contributing, but can't say I'm very familar with nginx.

[2018-08-07 16:04] qiwzhang commented on #323
Ideally,  ESP should support "proxy_set_header" flag for grpc backend to set any Nginx variables into grpc metadata.

Unfortunately, There is no much progress in this feature.

[2018-08-08 10:54] hobochild opened #422 "Question: Custom nginx config for redirecting routes."
I'm trying to get around the limitations imposed by [openapi](https://cloud.google.com/endpoints/docs/openapi/openapi-limitations) on logical operators. Whereby you cannot define `OR` operator for security rules on a path. eg.

OR is unsupported
[code]
to get around this I thought about using a custom nginx.conf to redirect routes based on their http headers. So requests with `x-api-key` header wo

[2018-08-08 11:12] hobochild commented on #422
Actually I just tried to add a redirect rule to the nginx conf. It works locally from inside the container. But when curling from a public I get a 401 before the redirect. So I assume the security layer (endpoints-runtime) comes before the nginx instance?

[2018-08-08 16:35] qiwzhang commented on #422
It may work, but I am not aware of anybody have done that.

[2018-08-09 11:41] hobochild commented on #422
Hmm, yea doesn't seem to work. Looks like the security enforcement happens before the redirect.

[2018-08-09 16:17] qiwzhang commented on #422
Yes, you do need to provide sufficient credential before the route.  For example, if api-key is required, you need to provide it.    Same for JWT

[2018-08-09 16:48] hobochild commented on #422
Ah yea, so the redirect I'm trying to achieve is not possible thanks for clearing that up :+1:

[2018-08-09 16:48] #422 closed

[2018-08-09 22:07] lizan opened #423 "Do not forward host header to gRPC backend"
gRPC request (HTTP2) with a `host` header will lead some gRPC server reject it.

Add one more header to skip at:
https://github.com/cloudendpoints/esp/blob/master/src/grpc/proxy_flow.cc#L141

[2018-08-09 23:48] lei-tang commented on #423
https://github.com/cloudendpoints/esp/pull/424

[2018-08-10 08:15] ashi009 opened #425 "%-encoded characters in url path are not decoded during json-grpc transcoding"
We have a rpc method like the following:

[code]

When receiving a GET request like `GET /books/something%26like%26this`, the resource name `books/something%26like%26this` is passed in `GetBookRequest.name` field as it.

The tests in path_matcher_node_test.cc suggests this is the intended behavior. However, I found that [`fully_decode_reserved_expansion`](https://github.com/googleapis/googleapis/b

[2018-08-10 09:04] ashi009 commented on #425
Our RPC are designed following https://cloud.google.com/apis/design/resource_names#resource_name_vs_url

[2018-08-13 17:39] bourquep commented on #262
Works for me! I believe this issue can be closed.

[2018-08-13 17:41] lei-tang commented on #262
@bourquep Thank you very much for your confirmation! The issue is closed.

[2018-08-13 17:41] #262 closed

[2018-08-16 06:53] ffredsh commented on #413
@qiwzhang Hey! so I took a look at it and managed to get something working! As promised, I have some questions for you...

1. I noticed that the trailer metadata actually isn't getting propagated by the upstream context in the proxy. According to the docs here:
https://grpc.io/grpc/cpp/classgrpc_1_1_client_context.html
It looks like the trailing metadata isn't actually available unless the stream

[2018-08-16 15:59] qiwzhang commented on #413
@lizan could you help to answer that.  Most of are ESP gRPC related questions.

[2018-08-16 16:12] marwan-at-work commented on #416
I just stumbled upon this issue for CE with gRPC. Is there a current workaround? I'm thinking of having an interceptor that does the conversion and pass it a long. But I was wondering if that already exists and I can't find it. Thanks!

[2018-08-16 16:28] qiwzhang commented on #416
ESP can do followings:  use grpc-trace-bin if backend is grpc for trace enabled by ESP.   For grpc transcoding from http to grpc,  ESP will translate from X-Cloud-Trace-Context to grpc-trace-bin.

What do you think?

I will see if I can find someone to work on this.  We welcome any contributions.

[2018-08-16 19:40] marwan-at-work commented on #416
That sounds good! However, it seems that gRPC calls the StatsHandler before it calls the UnaryInterceptor. Therefore, I ended up wrapping StatsHandler. Here's a gist of my current workaround in case anyone stumbles upon this issue before it's fixes (could use a review): https://gist.github.com/marwan-at-work/5ac1e6f3106d4e4f064249ea0d7085df

[2018-08-20 11:17] clementdenis commented on #406
I'm trying to to something similar: I'd like the paths not matching the basePath in my OpenAPI spec to be forwarded to my backend unchanged.
According to [the documentation on the x-google-allow extension](https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-allow), there's no option to do so.
Maybe a new "any" option would do the trick?

[2018-08-21 10:44] moander commented on #406
Thank you @qiwzhang. This was exactly what I was looking for :D

[2018-08-24 19:06] lei-tang commented on #423
The PR #424 has been merged for this issue.

[2018-08-24 19:06] #423 closed

[2018-08-29 18:50] bourquep opened #442 "Using Google Service Account authentication, getting KEY_RETRIEVAL_ERROR"
I have followed the [instructions here](https://cloud.google.com/endpoints/docs/grpc/service-account-authentication) to configure my API to be accessible via a service account.

When calling an API with a JWT obtained by following those instructions, ESP returns `KEY_RETRIEVAL_ERROR`, with this in the ESP logs:

[code]

In my Endpoints yaml configuration, The `jwks_uri` is set to `https://www.goog

[2018-08-29 22:32] bourquep commented on #442
I have not tried to run the provided sample code, but I followed the instructions in that tutorial to setup my service account and configure endpoints.yaml.

What I'm saying is that the `jwks_uri` we are instructed to use in that tutorial is `https://www.googleapis.com/robot/v1/metadata/x509/SERVICE-ACCOUNT-ID`, and that URL is returning the above json which ESP can't parse because it expects base

[2018-08-29 23:05] lei-tang commented on #442
The line "jwks_uri: https://www.googleapis.com/robot/v1/metadata/x509/SERVICE-ACCOUNT-ID" is part of the tutorial https://cloud.google.com/endpoints/docs/grpc/service-account-authentication. For that line to work correctly, it should run together with the provided sample code. If the tutorial does not work, then the information of which part in the tutorial is not working will be helpful for diagn

[2018-08-29 23:38] bourquep commented on #442
I have replaced the URL from the tutorial by my own (repalced SERVICE-ACCOUNT-ID with mine).

Again, what I am trying to convey is that this Google-owned URL returns a JSON payload, and ESP can’t handle that payload properly.

[2018-09-04 01:42] burdiyan opened #443 "[GRPC]: ESP silently fails if request has Connection header"
When you setup Nginx Ingress Controller in Kubernetes in front of ESP, by default Ingress Controller sends `Connection` header using GRPC backend protocol (which I will report as a separate bug for them) which violates HTTP2 spec.

The issue with ESP is that it silently fails without any notice. It took me almost 4 days to discover this problem. If you enable debug mode ESP says `client sent HTTP/

[2018-09-04 14:50] bourquep commented on #442
@lei-tang I'm kind of stuck because of this issue...

[2018-09-04 14:57] bourquep commented on #442
I have created another service account by following the tutorial instructions, and here is the `jwks_uri` corresponding to that account:

`https://www.googleapis.com/robot/v1/metadata/x509/test-esp-442@studyo-beta.iam.gserviceaccount.com`

This endpoint returns the following json payload:

[code]
 Which ESP is unable to parse.

[2018-09-04 17:48] qiwzhang commented on #443
The code is in Nginx core, not in ESP handler.  You may have to file this issue to Nginx.

[2018-09-04 17:48] #443 closed

[2018-09-04 20:51] qiwzhang commented on #442
It seems that response from https://www.googleapis.com/robot/v1/metadata/x509/test-esp-442@studyo-beta.iam.gserviceaccount.com doesn't following the jwks standard defined in https://tools.ietf.org/html/rfc7517.

The question is: should ESP supports such response?

[2018-09-04 21:00] bourquep commented on #442
Considering that this is Google’s own service account endpoint, and that it is used to perform service account auth with Cloud Endpoints, and that it means the tutorial is broken, I’d say yes...

[2018-09-04 21:07] qiwzhang commented on #442
It turns out it is a documentation bug.  You should use this jwks_uri:  https://www.googleapis.com/service_accounts/v1/jwk/{SERVICE-ACCOUNT-ID}

It will reply with correct jwks that ESP supports.

We will update the instruction.

[2018-09-04 21:16] qiwzhang commented on #442
https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1683

[2018-09-04 22:09] qiwzhang commented on #442
Please ignore my previous two comment.

ESP doesn't support alg "HS256".  It only supports "RS" or "EC".   The code is here:
https://github.com/cloudendpoints/esp/blob/master/src/api_manager/auth/lib/auth_jwt_validator.cc#L704

[2018-09-05 00:32] bourquep commented on #442
But how can I specify a different algorithm when I create the service account key?

<img width="484" alt="image" src="https://user-images.githubusercontent.com/65096/45064425-a0cf2580-b081-11e8-9926-d0c104e49469.png">

[2018-09-05 16:37] gunsch opened #444 "Allow ESP to work with read-only filesystem"
Currently crashes when trying to run on GKE with read-only filesystem.

Context: https://groups.google.com/forum/#!topic/google-cloud-endpoints/Gl7ZP9xMr_Y

[2018-09-05 16:37] gunsch opened #445 "ESP container shouldn't run nginx as root user"

[2018-09-05 17:27] kyessenov commented on #444
You can take a look at how istio does it. You would need to change the pod spec to use emptyDir volume with memory medium for tmpfs. See example: https://github.com/istio/istio/blob/00abab79d96eb74b1b021be6f81c91f25a262768/pilot/pkg/kube/inject/testdata/inject/hello-multi.yaml.injected#L124

[2018-09-05 18:43] liminw commented on #442
@bourquep, The key you have shown is x509 public key format, and ESP supports it today.

I believe the problem is that your JWT's "alg" is set to "HS256", which means symmetric key algorithm. You should set it to "RS256" instead.

[2018-09-05 19:30] liminw commented on #442
@qiwzhang The reason @bourquep saw the error is that for symmetric key, ESP expects the key string, which should base64 encoded. But in the case of asymmetric keys, there can be multiple keys, and hence, is in JSON format. Maybe we can improve the error message so that this kind of mistake can be avoided.

[2018-09-14 12:41] mkozjak commented on #421
@dansiviter Any updates if you managed to test websockets?

[2018-09-14 15:42] dansiviter commented on #421
Apologies, I've had other priorities so not got round to it yet. I'll update as soon as I have.

[2018-09-21 17:52] marwan-at-work commented on #395
I'm experiencing the same issue.

[2018-09-23 19:04] marwan-at-work commented on #395
@qiwzhang @lizan @PiotrSikora any idea how this can be fixed or at least suppress until fixed?

[2018-09-24 15:57] qiwzhang commented on #395
@marwan-at-work and @robertlemmen

could you help provide:  1) which version of ESP are you using,  in which platform, FLEX, or GKE?  2) Is it possible to generate debug log when this happen?  If you login into ESP container,  there is a script /usr/sbin/debug_nginx.sh.  You can run it as /usr/sbin/debug_nginx.sh start.

[2018-09-24 15:58] qiwzhang commented on #413
@ffredsh ,  I will try to upgrade gRPC.

[2018-09-24 16:18] marwan-at-work commented on #395
@qiwzhang

1. I'm running ESP on GKE, this is the image/version that I run `image: gcr.io/endpoints-release/endpoints-runtime:1`

2. I've ran the script as you suggested and it exited right away. Will I see the debug output in a specific file or directly on the UI logs in GCP?

[2018-09-24 17:34] qiwzhang commented on #395
@marwan-at-work you can use "kubectl logs POD -c esp " to get the debug log after you run that script.

If you can capture the debug log with the error "a client request body is buffered to a temporary file " for that pod,   it should be good enough.   Otherwise, you may have to turn it  for all your pods.

[2018-09-24 17:39] marwan-at-work commented on #395
@qiwzhang ah, I was already seeing that log (I wasn't sure if the debug flag would have given it more info) but here is what im getting (obfuscating service name):

[code]

[2018-09-24 17:41] qiwzhang commented on #395
Could you give me the logs around this line?  I hope it has debug on.

[2018-09-24 17:41] qiwzhang commented on #395
Otherwise, the script to turn debug on is not working.  may have to debug the script.

[2018-09-24 17:43] qiwzhang commented on #395
Could you check the size of this file /usr/sbin/nginx-debug.  It should be very big,  it is the nginx binary with debug symbol.

[2018-09-24 17:46] marwan-at-work commented on #395
@qiwzhang not sure the debug has made a difference (will try rerunning it) but here's what the logs around this are saying:

[code]

It looks like it's happening for every few requests. Cloud endpoints UI show that the requests are just a few bytes in size.

As for binary size:

[code]

[2018-09-24 17:50] qiwzhang commented on #395
could you login into the esp container,  "agt-get install curl" and use
curl http://127.0.0.1:8090/endpoints_status to get esp version.

It seems you are running older version.

[2018-09-24 18:48] qiwzhang commented on #395
Thanks. That is good enough.  It means 1.24.0 doesn't have the correct debug nginx binary in /usr/sbin/nginx-debug. I thought it has been fixed.

[2018-09-24 18:53] qiwzhang commented on #395
Could you download this one https://storage.googleapis.com/cloud_endpoints_debug_files/nginx-esp

replace it with /usr/sbin/nginx-debug

and run the script again

[2018-09-24 18:59] marwan-at-work commented on #395
@qiwzhang I did and the first log that came out was

`2018/09/24 18:56:18 [alert] 48#48: execve() failed while executing new binary process "nginx" (2: No such file or directory)`

Followed by the same logs as before.

Going to double check if I did anything incorrectly.

[2018-09-24 19:10] marwan-at-work commented on #395
@qiwzhang don't think I did anything incorrectly:

[code]

[2018-09-24 19:51] qiwzhang commented on #395
Please make sure to "chmod +x" it to be able to run by a non-root user.  I think Nginx is running by a non-root user.

[2018-09-24 19:57] qiwzhang commented on #395
Please ignore my previous comment.  I look at this file.  https://github.com/cloudendpoints/esp/blob/master/docker/generic/Dockerfile

I think Nginx is started as root.

[2018-09-24 20:10] marwan-at-work commented on #395
@qiwzhang yes, the only user in the container is root anyway I believe. Let me know how else I can help.

[2018-09-24 21:06] qiwzhang commented on #395
The debug script copy the nginx-debug to nginx.  could you check after its "start" nginx file size is 66M?

[2018-09-24 22:08] marwan-at-work commented on #395
@qiwzhang given the error from the log above, it seems that the nginx binary is failing to find the nginx binary. Here's another try:

[code]

Then separately the logs show the same error as above:

[2018-09-25 01:18] qiwzhang commented on #395
Hmm, I may need to setup a GKE test bed to investigate why your "turn on debug" not working. Or I may directly try some gRPC calls to see if I can re-produce the problem of seeing "a client request body is buffered to a temporary file"

[2018-10-03 15:14] kibertoad opened #446 "OpenAPI 3.0 support"
It seems that currently only OpenAPI 2.0 (Swagger) is supported. Considering how significant of an improvement 3.0 was, it would be great to have support for it as well.

[2018-10-06 17:47] arturgspb opened #448 "Setup and Check oauth scopes"
Hi!

I work with Google Cloud Endpoint in local Kubernates cluster.
In setup GRPC + Transcoding I wrote access_token check with Google Service Account.
The token is issued by my internal service and the scope names are different there.
I wrote my custom canonical_scopes.

[code]

On run gcloud endpoints services deploy I has error
[code]

If I install Google's scopes, the ESP still does not give a

[2018-10-08 06:04] qiwzhang commented on #448
No,  ESP doesn't support access control by scopes.  Your application code need to do that.

[2018-10-08 07:28] arturgspb commented on #448
Thank you! Do you think it is difficult to add it? It seems that inside Google Scopes it is checked on the balancer before the application.

[2018-10-08 15:45] qiwzhang commented on #448
One work around is to use "audiences" field.   ESP does check "audiences" field.   Your JWT needs to carry them in "aud" field and your OpenAPI specifies expected ones.  ESP will check them.

[2018-10-08 15:47] qiwzhang commented on #395
Sorry,  did not get around it.  Will try to find somebody.

[2018-10-10 15:56] Daniel-Houston opened #451 "Cache keys retrieved from jwks_uri"
We are using Okta for our authorization server and are using esp to verify the jwt signature. With every request, esp makes a call out to the jwks uri to retrieve the key set for the token. This normally is fine unless we have a sudden and extreme load hit our service. In that case the number of concurrent requests from esp to Okta causes us to be rate-limited, which in turn causes a 401 because t

[2018-10-10 17:52] qiwzhang commented on #413
grpc is updated to 1.15.0 by https://github.com/cloudendpoints/esp/pull/450

[2018-10-10 19:49] Daniel-Houston commented on #451
Perhaps the issue is not that the keys aren't cached, but that in the event the key is expired or not cached, if multiple requests come in at the same time, the jwks uri will be hit for every request until one returns and caches the key.

I'm looking here: https://github.com/cloudendpoints/esp/blob/351f8244f5b12a973050d8b0d614d94f1d02c6be/src/api_manager/check_auth.cc#L283 but the thread locking m

[2018-10-10 20:32] bytheway opened #452 "Use HTTP/1.1 protocol in nginx client"
We are attempting to have the esp container fetch jwt keys from a service that is behind a proxy that only supports HTTP 1.1+.  Currently the nginx client calls are made with a hardcoded HTTP/1.0 protocol. Is there any reason why this line couldn't be changed to be sent as HTTP/1.1?

https://github.com/cloudendpoints/esp/blob/master/src/nginx/http.cc#L294

[2018-10-10 22:40] #452 closed

[2018-10-10 23:33] Daniel-Houston commented on #451
We have a concurrent rate limit of 75 requests (in one second) so if we get a flood of requests all at the same time we hit that rate limit. It only happens occasionally and so we are investigating ways to prevent it. Once https://github.com/cloudendpoints/esp/pull/453/commits/2c428add133c5a72e9f610ed8e3edd4f3e40786a is released we will at least be able to work around it.

[2018-10-11 02:37] surajbarkale opened #454 "Enforce HTTPS access if swagger definition disallows http"
In our swagger definition, we only have `https` scheme enabled. However, when testing with Cloud Endpoints for App Engine Flexible, we found that the esp happily accepts http requests and passes on to our service.

Can you please redirect http requests to https if no http access is specified in swagger definition?

[2018-10-11 16:04] loredond opened #455 "Multiple authorization headers"
Hello,

I'm deploying an api protected by auth0 which is behind a nginx proxy protected by a basic authorization, so i'm trying to pass two authorization headers in my request, one for the basic auth, the other one for auth0, like so :

`authorization: Bearer YXNkZnNhZGZzYWRmOlZLdDVOMVhk, Basic YXNkZnNhZGZzYWRmOlZLdDVOMVhk`

But it seems like ESP can't parse both, i have `JWT validation failed: BA

[2018-10-11 16:29] qiwzhang commented on #455
Sorry,  ESP doesn't support requests with more than one JWT tokens.

[2018-10-11 16:42] qiwzhang commented on #454
It is a reasonable feature request.  we can add start_esp flag to add this line in Nginx config

   return 301 https://$host$request_uri;

But it is not easy to for FLEX.  Users can not use start_esp flags directly.

[2018-10-11 20:04] chad-orwig opened #456 "Retries and Timeouts for calls to Service Control API"
We are using Endpoints with ESP and had an event yesterday where many of our requests were timing out and generating the following logs

[code]

We opened a support ticket with Google and the only suggestion was to implement retries.  Obviously, retries are only helpful if the initial try aborts in a reasonable time.  Therefore we are requesting that a configuration option for retries and timeouts

[2018-10-11 21:48] qiwzhang commented on #456
The request connection timeout for Check call is 5 second.  it is hard coded,  users could not change it.

But I don't think it will help much by allowing users to config it.

[2018-10-12 15:38] chad-orwig commented on #456
I feel like retries and timeouts go hand in hand.  If the best solution is to retry then we need some control over timeouts as well.  We could feasibly implement retries a layer above ESP but we would want much lower timeout values than 5s in that case.

Ideally, ESP handles both and we can just configure.  If not, we end up having to roll our own service API integration or give up on endpoints en

[2018-10-12 15:48] qiwzhang commented on #456
Google service control is supposed to have high availability, over 99.999%.   Beside, there is local cache for the Check result.  So if your network to Google service is good,  you should not run into this timeout issue very often.   If your service constantly run into this issue,  you should check your network, if it is good, file an issue with Google Service control service team.

[2018-10-12 16:56] chad-orwig commented on #456
We're running inside GKE so our network is your network.  We've seen this issue before.

[2018-10-12 17:29] qiwzhang commented on #456
In this case, file an issue with Google Service Control team. they should debug the timeout issue.

[2018-10-12 17:41] chad-orwig commented on #456
Ok, I will re-open our service ticket with this info about 5 9s reliability.  Thank you for your responsiveness.

[2018-10-12 17:41] #456 closed

[2018-10-15 15:46] #455 closed

[2018-10-17 09:57] JubbaSmail opened #459 "esp nginx config does not match the A+ security rating"
I have to run esp with custom niginx to follow the A+ security rating (see: https://cipherli.st), would be nice if this would be included by default

[2018-10-17 13:18] aaabramov opened #460 "Add proxy_buffer_size, proxy_buffers support for CLI"
I will be more than happy to contribute.
The only question I have is which default values to set?

[2018-10-17 16:45] qiwzhang commented on #460
could you describe which buffer size are you referring to?

We have these two flags:

--client_body_buffer_size

https://github.com/cloudendpoints/esp/blob/master/start_esp/start_esp.py#L555

and

--client_max_body_size

https://github.com/cloudendpoints/esp/blob/master/start_esp/start_esp.py#L547

[2018-10-17 16:50] qiwzhang commented on #459
we can add a start_esp flag as --enable_a+_security_rating to add these config into Nginx config.

@lei-tang could you help?

[2018-10-17 16:52] #451 closed

[2018-10-17 16:53] #448 closed

[2018-10-17 16:55] #442 closed

[2018-10-17 17:08] srs opened #461 "Question: Any examples on --enable_experimental_multiple_api_config usage?"
Hi.

I am in the need of testing out --enable_experimental_multiple_api_config flag and wonder it exists some examples of this? Any input would be very helpful and appreciated.

Thanks.

[2018-10-17 19:11] aaabramov commented on #460
Hi, I mean exactly:
- [`proxy_buffer_size`](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffer_size)
- [`proxy_buffers`](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffers)

[2018-10-17 19:33] qiwzhang commented on #460
We can add two start_esp flags for them.     How about this: if the flag is not set,  not add it to nginx config.   By this way, you don't need a default.

[2018-10-17 19:33] qiwzhang commented on #460
@aaabramov  could you create a PR for that?

[2018-10-18 00:29] qiwzhang commented on #395
I did some digging for this issue.  It seems that there is a bug in Nginx Http2 downstream code.

It has following logic:

If content-length is not specified, and there is a end_of_stream flag,  it tries to read all data in,  but it doesn't know the data side, so it write the data to a template file.

This is bad for gRPC Unary call,  whose body size is small, but it doesn't set content-length, it

[2018-10-18 01:02] qiwzhang commented on #395
Here is the Nginx code:

Here it set the buf->sync to 1
https://nginx.googlesource.com/nginx/+/master/src/http/v2/ngx_http_v2.c#3880

Here it set the requst_body_in_file_only to 1
https://cs.corp.google.com/piper///depot/google3/third_party/nginx/src/src/http/v2/ngx_http_v2.c?type=cs&rcl=217077043&g=0&l=3977

[2018-10-18 20:41] jon-whit opened #464 "Major Bug with Latest Changes to ESP Runtime Key Verification"
The latest runtime version released (v1.25.0) introduces a bug into JWT key verification. I don't exactly know where it's coming from, but I suspect it is in the base64Decode functionality modified in this commit: https://github.com/cloudendpoints/esp/commit/351f8244f5b12a973050d8b0d614d94f1d02c6be

Our organization recently updated to v1.25.0 and it has brought down our whole development and stag

[2018-10-18 21:14] qiwzhang commented on #464
@jon-whit Thanks for reporting this.

We will investigate.   In the mean time, we have reverted the docker image back to v1.14.0 and deleted all v1.25 and v1.25.0 images

[2018-10-18 21:15] aaabramov commented on #460
@qiwzhang yep, sure.
Could you give me an example how to achieve this:

[2018-10-18 21:18] jon-whit commented on #464
@qiwzhang Do you mean v1.24.0? A revert back to v1.14.0 would be bad :).

[2018-10-18 21:30] qiwzhang commented on #460
How about this:
https://github.com/cloudendpoints/esp/blob/master/start_esp/nginx-auto.conf.template#L116

[2018-10-18 22:01] qiwzhang commented on #464
@jon-whit

We have a lot of JWT tests.  they all passed with v1.25.   I am wondering if it is a specific issue with your JWKS JSON format.   Will you mind share your JWKS output for debugging?  They should be public keys, should not have any secrets.

[2018-10-18 22:13] Daniel-Houston commented on #464
@qiwzhang I am on @jon-whit 's team. We are using Okta for our authorization server, and the keys for our development environment are:
[code]

[2018-10-18 22:18] qiwzhang commented on #464
Thanks.   will try your jwks.

[2018-10-18 22:38] qiwzhang commented on #464
@Daniel-Houston

Could you check your JWT token,  it seems that your JWT "kid" doesn't match with the ones in JWKS.

If you could give me a JWT token,  I can check for you too.

[2018-10-18 22:41] qiwzhang commented on #464
You can paste your JWT token to https://jwt.io/   it will show the header section.   Its "kid" has to match with the one from JWKS.

The error indicates that your new JWKS doesn't match

[2018-10-19 00:11] qiwzhang commented on #464
It appears that there is not bug in v1.25 release.  This issue is due to your JWKS response dosen't matches with your JWT token.

[2018-10-19 15:06] Daniel-Houston commented on #464
Here is a jwt. I verified in jwt.io that the token signing key matches the first jwk I sent you above:

[code]

[2018-10-19 15:11] Daniel-Houston commented on #464
Is there a way to deploy esp in a way to get debugging output so we can get a better understanding about what is happening in our deployment?

[2018-10-22 17:14] qiwzhang commented on #464
@jon-whit we need your help to debug this issue for v1.25.0

With your  provided JWKS and JWT,  I have verified that v1.25.0 works for them.  The issue could be somewhere else.

Is it possible that you re-deploy your system in an isolated environment (project) with v1.25.  and allow me access to your project to debug the problem?

[2018-10-22 17:19] qiwzhang commented on #464
What platform are you running?  is it GKE?   I will see there is a way to turn on debug on GKE.

[2018-10-22 18:48] lei-tang commented on #459
The PR https://github.com/cloudendpoints/esp/pull/467 has been created to address this issue.

[2018-10-22 19:29] qiwzhang commented on #459
This PR #467 is half-baked.  ESP will not work by simply enabling the flag.  It requires users to generate dbparam.pem and define DNS_IP variables.

[2018-10-22 20:29] ffredsh commented on #413
Great! Will test it out and report back, thanks!!

[2018-10-22 21:00] qiwzhang commented on #413
Not so fast,  the change is not released yet.

[2018-10-22 23:00] ffredsh commented on #413
I compiled from source and was able to get details to work! I will close as soon as 1.25 is released. Thanks again!

[2018-10-23 07:52] bdahon opened #469 "Multiple authentication schemes (jwt + key)"
Hi,

We have some endpoints that are secured using JWT tokens (auth0). These endpoints so far were only used by our front ends (using auth0 tokens), but now we need to setup access using api keys as well for machine to machine communication. What we need is the ESP to authenticate the request whenever one or the other authentication method is validated (api key OR jwt).  Is this something that is

[2018-10-23 13:30] unludo commented on #395
hello,

We have the issue too. It happens often.

The problem is that it fails the async call with the external device.

On the client side there is a grpc error indicating "Endpoint read failed".

Should I open another issue?

Any idea when it will be addressed or if there is a workaround?

thx

[2018-10-23 22:05] qiwzhang commented on #464
hi @jon-whit.  Any update on setting up debugging environment?

Well, to help out.   I created a new debug docker image:

gcr.io/endpoints-release/endpoints-runtime:1.25.dbg

A new flag --enable_debug is added with this image to turn on debug.

If you are using GKE,   you can use CLI:  kubectl edit deployment

with following change:

     - args:
       ......
        - --enable_debug
        imag

[2018-10-23 22:06] qiwzhang commented on #464
We have customers waiting for v1.25 release.  If we don't hear from you in time, assume you have resolved the issue.  we will restore v1.25 as the latest ESP release.

[2018-10-24 07:12] unludo commented on #395
@qiwzhang no the external device is the client doing the grpc call initially. It is one with a stream on the client side. When this warning happens, the client also displays en error "Endpoint read failed". Also when sending from server to client will always silently fail in this case.
If the temp file issue happens, it causes an HTTP/2 post 503.
If it does not happen, then everything is fine and

[2018-10-24 10:24] guimarca opened #473 "Option to add Strict-Transport-Security header to response"
The `Strict-Transport-Security` response header is a very common request from customers after an ethical hacking audit. Would be nice to have the option to add it to ESP responses via argument(s) to the start script.

[2018-10-24 11:57] unludo commented on #395
Sorry the issue was coming from the fact that the server side was crashed. This triggers a 503 on client side when in a grpc bidirectional call (with stream).
So no issue on my side.

[2018-10-24 15:43] jon-whit commented on #464
@qiwzhang I will test this out today.

[2018-10-24 16:10] jon-whit commented on #464
@qiwzhang I spun up the debug container this morning and dumped the logs to my machine. It looks like the ESP is retrieving the keys and the key ID associated with my token is present in the list. I'm not seeing anything obvious as to why there should be a KEY_RETRIEVAL_ERROR.

I have attached the error.log and the access token sent along in the request.

[error.log](https://github.com/cloudendpoi

[2018-10-24 16:55] lei-tang commented on #473
Yes, I will create a PR for it.

[2018-10-24 18:17] qiwzhang commented on #464
Found the problem:  Your JWKS server returns in chunked encoded format.  The code to fetch JWKS keys is using customized upstream code (https://github.com/cloudendpoints/esp/blob/master/src/nginx/http.cc), it doesn't support chunked  format.

Could you config your JWKS server to return plain text?

As to why v1.24 works?  We have upgraded to latest gRPC version.  We are using gRPC to do JWT valida

[2018-10-24 18:53] qiwzhang commented on #464
It is not gRPC problem.   It is caused by this PR: https://github.com/cloudendpoints/esp/pull/453
It changed the side-way HTTP to 1.1.   so some servers will use trunked encoding for 1.1

We will revert this back.

[2018-10-24 19:04] jon-whit commented on #464
@qiwzhang Awesome. Sounds good. Thanks!

[2018-10-24 19:08] bytheway commented on #464
Darn, that's an unfortunate choice. We were hoping for the HTTP 1.1 change because envoyproxy didn't have any support for HTTP 1.0.  That's changed in the very latest release, but not everything using envoy is on that release yet.

Thanks for the help tracking this down, we'll have to figure something else out.

[2018-10-24 19:12] qiwzhang commented on #464
@bytheway Sorry for this unfortunate choice.  Otherwise, we have to add trunk encoded and other http1.1 support in that http.c code.  That is not an easy task.

[2018-10-25 06:41] guimarca commented on #473
Wow, that was fast, thank you. Any idea when you'll make the next release?

[2018-10-25 09:46] ashi009 commented on #345
@lizan Is it possible to add gzip support in start_esp now?  I just learned that GCP LB won't handle gzip compression.  So ESP as the application frontend should do this.

[2018-10-25 09:55] ashi009 opened #477 "Ship ESP with self-signed SSL cert & key"
When GCP LBs talk HTTP/2 to ESPs, ESPs must speak [encrypted HTTP/2](https://cloud.google.com/load-balancing/docs/https/).

Given the doc and the tests I ran, LB accepts an arbitrary cert for this.  It would be nice to have ESP ship a self-signed SSL cert & key to simplify the bootstrap process.

N.B. HTTP/2 is required to expose GRPC services. As HTTP/2 support is in beta phase, I think it's time

[2018-10-25 16:19] qiwzhang commented on #473
Probably next week.

[2018-10-25 16:31] qiwzhang commented on #469
Sorry,  we don't have (Api-key OR JWT) security requirement in our roadmap.

[2018-10-25 16:33] bdahon commented on #469
@qiwzhang Thanks for you response. Just out of curiosity, how would you handle this requirement in a CGP/K8S deployment ?

[2018-10-25 16:35] qiwzhang opened #478 "Support b3 trace flags"
Envoy is using b3 trace flags. In some cases,  ESP may be deployed together with Envoy, (most likely behind Envoy).  if ESP supports b3 trace flags,  their traces will show from one request instead of two.

[2018-10-25 16:57] qiwzhang commented on #345
At current state,  just adding "gzip on" only works for HTTP backend.

[2018-10-25 22:30] qiwzhang commented on #395
@PiotrSikora  fixed it in Nginx.

https://nginx.googlesource.com/nginx/+/2939d5c5fadb3f28a8f8ac85c039bfd007239d3c%5E%21/#F0

[2018-10-26 03:29] ashi009 commented on #345
A small gRPC response gets bloated for over 20x in size due to JSON and the lacking of compression.

Could you evaluate the efforts needed of adding such support? We can help that out if this won't stand in the way of the esp dev roadmap.

[2018-10-26 16:07] #406 closed

[2018-10-26 16:11] #469 closed

[2018-10-26 16:11] #459 closed

[2018-10-26 16:14] #227 closed

[2018-10-26 16:16] #303 closed

[2018-10-26 16:17] #341 closed

[2018-10-26 16:20] #333 closed

[2018-10-26 16:22] #344 closed

[2018-10-26 18:38] inklesspen commented on #347
Is this header added for all requests, or only for the requests where user info exists?

It would be good to add a header relaying the ESP version, imho.

[2018-10-26 19:30] qiwzhang commented on #347
x-endpoint-api-userinfo  header is only added if jwt is required and the token is successfully passed verification.  This header is added in the request path to the backend.

You are suggesting adding esp-version to the response header for debugging. is that right?

[2018-10-26 19:48] inklesspen commented on #347
Also just for general user info.

[2018-11-05 16:05] xavier-re opened #486 "need to add parameter for using proxy for validation of google credentials"
Hello,
to be PCI compliant on my infra, I need the ESP to go through a proxy to validate the google credentials. (i need to whitelist any outbound connection, and servicecontrol.googleapis.com doesnt seems to be a list of static ips)

Each time there is a connexion, the ESP validates with google the auth/token provided.

I tried starting start_esp with the correct environment variables http_proxy

[2018-11-06 09:40] guimarca commented on #473
We have been testing the image 1.26.0, which includes this feature, and were not seeing the header in the responses. It turned out that adding the `always` parameter fixed the issue. Would you mind to add it it?

` add_header 'Strict-Transport-Security' "max-age=31536000; includeSubdomains;" always;`

[2018-11-06 16:50] qiwzhang commented on #473
@guimarca could you try moving the "add_header" inside the location,  at the same level as the other add_headers.

I just read its [doc](http://nginx.org/en/docs/http/ngx_http_headers_module.html).  we added to the wrong place ( at server level).   If location level has add_header, it will not inherit from server level.

@lei-tang could you help to fix it?

[2018-11-06 18:29] lei-tang commented on #473
@guimarca I created the PR https://github.com/cloudendpoints/esp/pull/487 to move the strict_tls_security header from server level to location level. Can you review this PR and verify whether it solves the problem?

[2018-11-07 17:12] qiwzhang commented on #473
Does that mean we have to add "add_header" in all three places?

if cors == option
    here
if cors
    here
here

It looks ugly. Is there better way?

[2018-11-07 20:29] lei-tang opened #488 "Istio tracing integration with ESP"
It is reported that when using Istio and ESP together, there are two trace spans generated, one for Istio and the other for ESP.  This issue is created to combine two trace spans into one.

Cause of the issue
ESP adds the tracing information to the X-Cloud-Trace-Context header. Istio does not use the X-Cloud-Trace-Context header but uses the following headers for tracing:
x-request-id
x-b3-traceid

[2018-11-14 00:41] ffredsh commented on #413
Confirmed 1.26 fixes the missing details. Thanks!

[2018-11-14 00:41] #413 closed

[2018-11-16 02:31] lucemia commented on #323
https://github.com/cloudendpoints/esp/pull/384#discussion_r183524675

Just need to pass in a --underscores_in_headers flag. 😀

[2018-11-16 02:34] lucemia commented on #323
[code]

[2018-11-16 02:35] qiwzhang commented on #323
Yes, with that flag, ESP nginx will pass client headers with under score to gRPC backend.

[2018-11-16 02:37] qiwzhang commented on #323
@lucemia Thanks.

[2018-11-26 17:18] #473 closed

[2018-11-26 17:19] qiwzhang commented on #478
It is tracked as https://github.com/cloudendpoints/esp/issues/488

[2018-11-26 17:19] #478 closed

[2018-11-27 02:10] qiwzhang opened #489 "Log some HTTP headers to endpoints log"
Google cloud console show and can query Endpoint logs.  It will help if ESP can log some HTTP headers per user config.  The idea is:

start_esp to add following flags:

--log_request_headers=foo,bar   and --log_response_headers=foo,bar

Endpoint log will have:

request_headers.foo = foo_value
request_headers.bar = bar_value

[2018-11-27 02:18] qiwzhang opened #490 "Log JWT payload claim to endpoint logs"
There are some requests to log JWT payload claim  to endpoint log so they can be queried in Google console.

start_esp can add a flag as

--log_jwt_payload=foo,bar

foo and bar are the names in the JWT payload claim

For example, for such payload:

{
   "iss": "[TOKEN_ISSUER]",
   "iat": [ISSUED_TIME],
   "exp": [EXPIRED_TIME],
   "aud": "[AUDIENCE]",
   "sub": "[SUBJECT]",
   "azp": "[AUTHORIZED_

[2018-11-30 01:44] qiwzhang opened #493 "ESP sending invalid error JSON response"
in gRPC transcoding case,  somehow ESP is sending two cancated JSON.

{"status":"SERVING"}{
 "code": 13,
 "message": "HTTP/2 error code: INTERNAL_ERROR\nReceived Rst Stream",
 "details": [
  {
   "@type": "type.googleapis.com/google.rpc.DebugInfo",
   "stackEntries": [],
   "detail": "internal"
  }
 ]
}

I think if error happens in the middle of transcoding response.  {"status": "SERVIING"} is fro

[2018-11-30 06:43] arturgspb commented on #490
I also need a definition of customer api!
I use esp locally and I have one project_id.
Well, if UserAgent logs and customized part of JWT payload.

[2018-11-30 17:36] qiwzhang commented on #490
@arturgspb did not quite understand your request.  Which field if JWT payload do you want to log to Endpoint log?

[2018-11-30 17:54] arturgspb commented on #490
Hi, @qiwzhang ! Thank you for your quick response.

I need any opportunity to identify an application that works with my API.

Problem 1. I thought it would be a good option to keep the User-Agent in the logs. It often happens that actually different scripts use the same token, and only UserAgent or something similar allows you to collect more understandable logs.

Problem 2. I myself release toke

[2018-11-30 18:17] qiwzhang commented on #490
@arturgspb  for your 2), you may want to take a look this [doc](https://cloud.google.com/endpoints/docs/openapi/service-account-authentication)

[2018-11-30 18:40] arturgspb commented on #490
@qiwzhang

Thank you, I will learn this once again better. Last time I did not find there a way to specify specific for my api scopes like. Maybe you know how to register them in a google if google will be token issuer? The fact is that only my application knows which user can get specific scopes via oauth and I have not yet understood how to make Google release tokens, but include and checked and

[2018-11-30 18:55] qiwzhang commented on #490
Are you trying to white list clients that can use your service?   You want ESP to block the services not white-listed?  is that right?

you can use a hack in JWT "aud" field.   Each client will generate JWT with its own "aud".  You can do that by following this [doc](https://cloud.google.com/endpoints/docs/openapi/service-account-authentication).  Then your service config list all "aud" are allowe

[2018-11-30 19:03] arturgspb commented on #490
No, I all clients may use my api. It's not different with google apis. But my apps use internal scopes (not google scopes from https://developers.google.com/identity/protocols/googlescopes) and my app must release tokens and check they.

[2018-12-03 09:13] arturgspb commented on #490
@qiwzhang , what about "User Agent" header logging?

[2018-12-03 17:28] qiwzhang opened #495 "Log UserAgent to endpoints log"
Log UserAgent to the endpoint log.

[2018-12-06 21:28] arturgspb opened #501 "Billing cost for calls ServiceController.Report"
I checked the service under load of 100 requests per second and saw how the cost of using Google Service Control in Cloud billing, I also found a dependency on the API of the google.api.servicecontrol.v1.ServiceController.Report.

I do not quite understand why ESP sends requests for this service and how to reduce the consumption of money. I plan to do more and more services with ESP and I would no

[2018-12-06 22:57] qiwzhang commented on #501
ESP is making two calls to Google ServiceControl service;  Check and Report.  In theory, one for each request.   But Check() call has local cache,  If it is a cache hit,  not remote call is made.   Report calls are batched up to 1000, or 1 second.

Check() can be disabled by setting "allow_unregistered_call" to true.   But there is not way to disable Report call.

[2018-12-06 22:59] qiwzhang commented on #501
Here is the ESP pricing: https://cloud.google.com/endpoints/pricing-and-quotas

[2018-12-07 10:01] arturgspb commented on #501
Thanks, I missed the call charge documentation. =(

ESP is running locally for me, it’s a pity that I have to pay for calls to api outside the GCP.

I do not mind paying for call logs, but not for the self API calls themselves - this is strange, since I do not occupy the resources and channel of the Internet of the GCP. This is very sad.

[2018-12-09 15:16] arturgspb commented on #501
@qiwzhang

By the way, for what purpose is a Report api call?

[2018-12-10 10:30] JubbaSmail opened #502 "ESP 1.27 causing CloudFlare Proxy SSL Handshake Error"
Here are the description of the situation:

- We are proxing https traffic from CloudFlare to our k8s app
- CloudFlare will use our wildcard cert *.xyz.com to terminate the SSL
- The k8s consist of two containers (ESP and .Net Core app)
- ESP (v 1.27) run with custom config and uses a certificate generated by letsencrypt.org (the cert is vaild and I was able to establish secure connction from a br

[2018-12-10 17:08] qiwzhang commented on #501
ESP sends metrics and logs to Google service control service in the Report calls about the requests.
Here is an example of data it is sending.  https://github.com/cloudendpoints/esp/blob/master/src/api_manager/service_control/testdata/report_request.golden

[2018-12-10 17:38] qiwzhang commented on #502
Could you double check if "server_name" field is set correctly in your custom Nginx config. It is this line https://github.com/cloudendpoints/esp/blob/master/start_esp/nginx-auto.conf.template#L83

ESP 1.27 upgraded Nginx from 1.13 to 1.15.   You can search Nginx to see if it introduced any improvement or bugs related to SNI

[2018-12-10 20:49] arturgspb commented on #501
@qiwzhang

Tell me how can I adjust the frequency of the call Report API and the size of the request (1000 cache entries)?

I see proto conf https://github.com/cloudendpoints/esp/blob/74fefb91bee99282076c03ed6f122e7894a988cb/src/api_manager/proto/server_config.proto#L124

and
https://github.com/cloudendpoints/esp/blob/74fefb91bee99282076c03ed6f122e7894a988cb/src/api_manager/proto/sample_server_con

[2018-12-10 21:56] qiwzhang commented on #501
server_config is generated at start_esp.py script from this template https://github.com/cloudendpoints/esp/blob/master/start_esp/server-auto.conf.template

Not, there is no much room to increase the batch side.  There is a 4MB side limit in the server side for each Report call.  I think the default batch side is pretty close to that limit.

[2018-12-11 05:20] arturgspb commented on #501
Thank you. Let's summarize to confirm that I understood you correctly.
Now there is no way to greatly reduce my expenses when using esp. It is possible to remove the allow_unregistered_call setting, but this will not greatly affect the cost as far as I understand.

Is that right?

[2018-12-11 16:59] qiwzhang commented on #501
One thing I am not clear; which expense are you referring to?    Is it the number of ServiceContro.Report calls and Google charges you by the number of calls?   or The expense from Google Endpoints pricing where it charges you by the number of requests ESP have been proxy-ed?

Google Endpoint team is not aware the former,  but we can adjust the pricing for the latter.

[2018-12-13 14:34] JubbaSmail commented on #502
right, I don't have  "server_name" in my config

[2018-12-13 17:11] qiwzhang commented on #502
"sever_name" is required for SNI to work.

[2018-12-14 15:19] JubbaSmail commented on #502
but then everyone how didn't define it in the custom config and are using ESP:1 will face this issue on next deployment, is there a way to avoid that?

[2018-12-19 01:34] qiwzhang opened #504 "ESP does't close the stream with client disconnect for a streaming GRPC call"
We're using ESP for GRPC calls, both streaming and non-streaming, and for connections from our mobile clients we're seeing an issue on ESP where it does not seem to handle client/stream disconnects correctly on streaming calls.

We have the following setup:

mobile client -> (TCP LB in GCP) -> Envoy (for GRPC load balancing and routing) -> ESP -> our JVM

I can repro by killing our mobile app, we

[2018-12-19 01:35] qiwzhang commented on #504
Sorry, some other issues came up in production, I was finally able to get debug output.  I used a 1.27.0 container, I'm doing a .. grep " \*1677" which seems to line up with getting the debug logs that matter.  I stripped off most of the beginning of the request logs as it's 324 lines total.  22:17 the streaming request starts (Observe), I killed it and the stream RST flows across at 22:18:02, at

[2018-12-20 06:55] clehene opened #505 "INTERNAL: HTTP/2 error code: INTERNAL_ERROR Received Rst Stream (with error code 2)"
I'm cross posting this from grpc-java

When I'm using HTTPS LB -> ESP -> gRPC I get these errors
Full details here https://github.com/grpc/grpc-java/issues/5176

It doesn't reproduce while running ESP locally over SSL.

[2018-12-20 18:38] qiwzhang commented on #505
Could you turn on debug by adding --enable_debug [flag](https://github.com/cloudendpoints/esp/blob/master/start_esp/start_esp.py#L551) In your gke deployment for ESP?

The debug log will be:  /var/log/nginx/error.log inside ESP container.

[2018-12-20 18:38] #502 closed

[2018-12-20 21:36] #501 closed

[2018-12-20 22:43] clehene commented on #505
Hey @qiwzhang here's a capture of the error log during a faulty request
https://gist.github.com/clehene/1e6d7d6a1cd7ae7100c0bb6e78715981

[2018-12-20 22:56] qiwzhang commented on #505
Hmm,  somehow between LB and ESP is using http protocol.  It is not using gRPC which should be http2

[2018-12-20 22:59] qiwzhang commented on #505
You have to turn on http2 for gRPC to work in your LB.

[2018-12-21 00:37] clehene commented on #505
@qiwzhang thanks for taking a look! That could be useful, but could you be more specific.
Concretely, why would HTTPS LB and ESP talk gRPC? the LB exposes SSL and so does ESP/nginx, wouldn't they just use TLS / HTTP/2?

Not sure if you got a chance to read my description on https://github.com/grpc/grpc-java/issues/5176
When I was looking at the wireshark packets I noticed :

TLSv1.2 Record Layer:

[2018-12-21 01:07] qiwzhang commented on #505
I think you have to configure your LB to use TLS/HTTP2 in order to proxy gRPC, but I am not sure how to do that since I am not familiar with LB.
ESP/nginx is using ssl_port, it can receive both TLS Http1 and TLS Http2. From the Nginx log, ESP is receiving Http1 for your gRPC request from LB.

[2018-12-21 01:19] qiwzhang commented on #505
Here is the [doc](https://cloud.google.com/load-balancing/docs/backend-service#protocol_to_the_backends) for Google cloud LB.  It allows you to specify Http2, or Https.  But strangely, you could not specify both.

[2018-12-21 02:47] clehene commented on #505
@qiwzhang thank you! You pointed the right direction!
Overall the docs are highly inconsistent, contradicting themselves.
E.g. https://cloud.google.com/load-balancing/docs/https/:

Enable HTTP/2 as the protocol from the load balancer to the backends.
...

then

This https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-http2 is a very recent document. The most important piece is:

[code]

[2018-12-21 02:51] #505 closed

[2018-12-21 08:00] arturgspb opened #507 "How start ESP with gRPC + Transcoding without Google Cloud Platform integration"
Hi!

In issue https://github.com/cloudendpoints/esp/issues/501 i wrote about GCP billing cost, but I programming self hosted in-house service API and would not want to have overhead on GCP.

Is it possible, in principle, to launch an ESP in such a way that it does not want to work with a GCP? I found the tutorial (https://github.com/cloudendpoints/esp/blob/master/doc/tutorial.md#running-esp), but

[2018-12-21 17:35] qiwzhang commented on #507
ESP needs to use Google servicemanagement service to get the service config.  It needs to call Google service control service for checking api-key and sending metrics for dashboard graph.

[2018-12-24 08:33] arturgspb commented on #507
Thx, ok, but maybe we can add code for disable Report API call (google.api.servicecontrol.v1.ServiceController.Report)? =)

We talk about it in issue https://github.com/cloudendpoints/esp/issues/501

[2019-01-02 21:52] ernsheong opened #510 "[v1.27] Intermittent failures: Response body:`Permission 'servicemanagement.services.report' denied on service '<redacted_3rd_party_service>'"
Affects ESP release v1.27

403 errors are happening intermittently, and thus the count in the dashboard is not accurate.
[code]

Reverting to 1.26 seems to have fixed the problem.

[2019-01-02 22:01] qiwzhang commented on #510
What is your deployment platform, e.g. GKE, GCE?   Which start_esp flags are you using when you deploy ESP?

[2019-01-03 00:01] ernsheong commented on #510
It was for GKE. I am not aware of any start_esp flags

[2019-01-03 00:06] ernsheong commented on #510
Oh I suppose you meant something like this:

[code]

[2019-01-03 07:20] ernsheong commented on #510
I switched back to 1.27, and the issue seemed to have disappeared.

I am not using `allow_unregistered_call` anywhere in my config. I will monitor.

Seemingly related: https://github.com/GoogleCloudPlatform/java-docs-samples/issues/873

[2019-01-03 08:31] ernsheong commented on #510
For some context, this was what I was facing immediately prior to this. Permissions on the service went wonky: https://issuetracker.google.com/issues/122241615

[2019-01-03 20:17] qiwzhang commented on #510
So the problem is not related to ESP release version and  it is NOT happening now.  I will close this issue.  If it happens again, please re-open it.  Thanks

[2019-01-03 20:17] #510 closed

[2019-01-09 20:19] fieryorc commented on #425
Running into the same issue. When we use our local grpc gateway (golang generated code), it does the right thing. However, ESP doesn't decode the values.

[2019-01-09 22:38] qiwzhang commented on #425
Yes,  the flag fully_decode_reserved_expansion is not supported by ESP.

[2019-01-10 11:53] arturgspb commented on #507
@qiwzhang ping

[2019-01-10 17:15] qiwzhang commented on #507
Sorry, I missed your question.  ESP code is in open source github.  You can change the code to disable Report call, and build ESP by yourself.

[2019-01-10 17:18] qiwzhang commented on #488
After a meeting with the users.  It turns out this is NOT what they asked.

[2019-01-10 19:40] arturgspb commented on #507
I hoped you would help me =) I know Java, Python, PHP, JS, but I no work with C++
It seems I'll to have to deal with C ++ in 2019. =)
Well, anyway, thank you so much!

[2019-01-10 19:40] #507 closed

[2019-01-14 10:38] arturgspb opened #515 "Add Dockerfile for build nginx"
I have a many troubles when I compile nginx locally on macos. I use virtualbox and install libs and dependencies from doc https://github.com/cloudendpoints/esp/blob/master/doc/build-esp-on-ubuntu-16-04.md

But have errors when nginx start

[code]

Now it’s quite difficult to build a project due to numerous nuances and dependencies, especially if I don’t have the old version of ubuntu. I thought it

[2019-01-14 17:13] qiwzhang commented on #515
Yes, it will be nice if there is a docker image to build ESP.  I will mark this as feature request.

[2019-01-14 17:23] qiwzhang commented on #507
There is an easy way to bypass Google service control call.  You can create a HTTP server to mock the Google service control server.  and pass its URL by this [flag](https://github.com/cloudendpoints/esp/blob/master/start_esp/start_esp.py#L617)

[2019-01-14 17:23] qiwzhang commented on #515
@arturgspb I updated this issue: https://github.com/cloudendpoints/esp/issues/507.  Hope it will help you.

[2019-01-16 05:43] arturgspb opened #517 "Add nginx flag for sampling Service Control API Report Calls"
I was try known how to less price for local run ESP in issues:
https://github.com/cloudendpoints/esp/issues/501
https://github.com/cloudendpoints/esp/issues/507

@qiwzhang helped me so much with answer https://github.com/cloudendpoints/esp/issues/507#issuecomment-454087910

It's perfect for me now, but it's dropped api requests log totally. It would be nice in future if I could set the percentage

[2019-01-16 05:45] arturgspb commented on #507
@qiwzhang Wow! it's perfect!

I came up with a super setting that could help people like me. =)
https://github.com/cloudendpoints/esp/issues/517

[2019-01-17 21:47] arturgspb commented on #507
@bochunz thank you. I'll think about this option.

I want to turn off the Report Call API only for some of my technical services. For most of my api it’s convenient that I can see the method calls charts on Google Cloud Console.

Well, ESP is one love =)

[2019-01-18 01:30] qiwzhang commented on #517
If you are using my suggestion in  #507 (comment),  you can do this in your fake service control service.  Your service is just like a proxy,, it decides how many reports to drop and how much to pass on to the Google service control service.

[2019-01-18 13:14] arturgspb commented on #517
I known it and use it, but I mean that feature will be useful for ESP as flag

[2019-01-18 17:13] qiwzhang commented on #517
If implemented in ESP, it means ESP should know two service-control URLs and split the traffic between two URLs.  I don't think this is the right approach.

[2019-01-18 17:17] qiwzhang commented on #517
Am I understanding correctly: you request ESP not sending all Reports, only some sample of them?
If so,   I don't think we will implement such feature.

[2019-01-18 21:08] naturalbeau commented on #308
I also experienced the same issue when try to use keycloak as third party authentication server. So what is the solution to fix this problem? @tazjin

[2019-01-18 21:32] arturgspb commented on #517
Ok

[2019-01-18 21:32] #517 closed

[2019-01-19 13:02] tazjin commented on #308
@naturalbeau We ended up writing our own authentication service, which has been humming along fine for over a year now - Keycloak is nice if your use-case falls exactly into what it supports, otherwise bending it to do what you want is a task in itself :)

[2019-01-21 08:09] johnny-y-wang commented on #504
Same issue, can confirm.

[2019-01-22 17:39] kh-chang commented on #504
I will start looking into this. Sorry for the delay.

[2019-01-24 01:30] johnny-y-wang commented on #504
@kh-chang Just realized it's my fault :) This issue occurs if the gRPC backend address is unresolvable (e.g. a bad DNS name). Accidentally screwed up Kubernetes configuration :/ Maybe a better error message would be helpful here?

Thanks a lot for your help though!

[2019-01-24 01:34] kh-chang commented on #504
@johnny-y-wang Thanks for letting me know!

[2019-01-29 17:58] qiwzhang commented on #504
Here is the update on our investigation.  We believe it is caused by Envoy in between your client and ESP.  When your client close the app, the tcp connection is closed,  if there is not Envoy in the middle,  ESP will propagate the tcp connection to the grpc server.   With Envoy,  it is using connection [pool](https://www.envoyproxy.io/docs/envoy/v1.9.0/intro/arch_overview/connection_pooling),   i

[2019-02-07 21:37] rphillipsz commented on #357
I'm running into this while trying to run tests on Ubuntu 18.08; was there a solution?

[2019-02-07 23:09] andrew-canaday opened #535 "Upgrading to v1.29.0 appears to break ESP for URL's with query parameters"
We ran into an issue today while deploying a handful of services using ESP with the `:1` tag. It appears that as of the `v1.29.0` release, query strings which contain parameters in the format `name=val` result in HTTP `400` errors, 100% of the time.

We have mitigated by rolling back to `1.28.0` tag, but wanted to surface for anyone else using `:1` and "always pull" policy on their respective plat

[2019-02-07 23:14] andrew-canaday commented on #535
Some evidence this may not be the case. Closing and will re-open after further investigation. _Sorry for the noise_.

[2019-02-08 00:04] andrew-canaday commented on #535
This has been reproducible on all of our Java/Jetty-based services.
It is unconfirmed on our node.js services, but figured I'd re-open as others running at latest may want to verify.

Thanks much!

[2019-02-08 01:10] qiwzhang commented on #535
is HTTP 400 responded by ESP?

I don't remember ESP ever replied 400.  If a path is not configured,  it will replied 404.

If using container to deploy ESP,  could you turn on debug by add start_esp flag --enable_debug

and get the ESP log from inside the container  /var/log/nginx/error.log

Thanks

[2019-02-08 01:12] andrew-canaday commented on #535
_Thank you_ for responding so quickly.
I'll get the details tomorrow and update the issue.
My apologies if this turns out to be a quirk in jetty/whatever, but figured better safe than sorry due to the ubiquity of this thing.

Thanks much! Will reach out tomorrow. 👍

[2019-02-08 01:33] kh-chang opened #536 "Add t tests for handling RST_STREAM"
As a follow-up to PR #530.

[2019-02-08 17:46] #504 closed

[2019-02-08 19:33] spopezen opened #538 "ESP responds with a 502 when verifying the signature of a JWT over a certain length"
We've ran into an issue where requests with a Bearer token in the header, cause a 502 response from the ESP when the token is over a certain length (~3000 characters or so, could be less).

We've been able to track the bug introduction to the 1.21.0 release (likely this commit: https://github.com/cloudendpoints/esp/commit/d38f25b2e0a75598d505c9b2fca1e941ada3bde4)

I don't have much more informatio

[2019-02-08 19:40] qiwzhang commented on #538
X-Endpoint-API-UserInfo is passed to the backend in the HTTP header.   With JWT claim this big,  either Nginx upstream rejects it with its limit,  or your backend app HTTP server rejects it.

Could you verify if it is rejected by your app?

[2019-02-08 19:58] spopezen commented on #538
We aren't having any problems on 1.20.0 with the same build of our app. 1.21.0 and 1.20.0 appear to be using the same nginx version, and I'm not seeing nginx config changes between the two releases, so it seems unlikely to be nginx. I do see that the endpoints-tools version changed, but have not yet looked at the diff between that version upgrade.

[2019-02-08 20:04] qiwzhang commented on #538
Sorry,  I did not state it clearly.

ESP 1.21 added JWT claim to the X-Endpoint-API-UserInfo which is added to the HTTP request send to the backend app.   The original JWT header is not removed in most cases, with the added header,  the header will be very big.  It may have reached Nginx buffer limit or your application buffer limit.

You can help to debug it to see which limit is reached.  You ca

[2019-02-11 17:43] spopezen commented on #538
Ah, thanks for the clarification. Using --enable_debug flag, I was able to track the problem to my app.
Sorry for the noise, and thanks for the help! Closing this issue.

For people that may run into the same issue; node recently changed max request header size from 80k to 8k and ESP release 1.21 started adding the claims from an access token to the request header, which could push a request heade

[2019-02-11 17:43] #538 closed

[2019-02-11 20:05] andrew-canaday commented on #535
Sorry for the lag @qiwzhang. On this shortly

[2019-02-12 23:18] andrew-canaday commented on #535
Still behind. Will gather data from our systems. We did have another event in the company today (another java-based team) where upgrading to `1.29.0` resulted in service outage for them.

[2019-02-12 23:29] qiwzhang commented on #535
@andrew-canaday we found the issue.  We are rolling back ESP 1.29.0

[2019-02-13 02:30] qiwzhang commented on #535
ESP release 1.29.0 is rolled back.

https://b.corp.google.com/issues/124016577#comment24

[2019-02-14 01:01] andrew-canaday commented on #535
@qiwzhang Thank you for the progress/updates (despite the lack of input on my end!). I'm content for this issue to be closed out however best fits your usual work-flow:
 * that the issue was recognized, and the major version rolled-back is _sufficient on my end_
 * if you'd like to close after you are satisfied that the root cause has been fixed: _great_
 * if you'd like independent verification a

[2019-02-14 01:17] qiwzhang commented on #535
I like to add some more details in case some users run into the same issue

1) the bug is introduced by this PR: https://github.com/cloudendpoints/esp/pull/514.  It has an un-initialized variable that is checked to manipulate the url path send to the backend.

2) If your request has query parameters, such as /path?key1=val1,  and backend is http, randomly at each ESP starts, (since it is an initia

[2019-02-14 01:19] #535 closed

[2019-02-15 17:13] qiwzhang opened #546 "asan test status"
I have tried gcc 7.4 and and 5.3.   Many asan "t" tests failed with memory leak detected in Nginx.

These are singlton objects,  allocated only once during the whole process, such as api_manager object.

it is due to master process and worker process issue.  If a memory is allocated in master,  it should be freed in master.  But we may only free it in worker process.

Some are simple fixes,  other

[2019-02-15 17:14] qiwzhang commented on #546
Jenkins presubmit test has asan. It works because its gcc is 4.9

[2019-02-21 02:33] qiwzhang opened #549 "Upgrade bazel version from 0.5.4 to the latest."
Currently, ESP has to use very old bazel version 0.5.4 since many of its dependencies are old and many of its testing artifacts are based on older bazel.

But for some dependencies, ESP needs to use their latest versions,  For example for googleapis,  it has changed Backend service config proto, ESP likes to get these changes.

But latest googleapis requires latest version of [bazel](https://githu

[2019-02-22 01:14] qiwzhang opened #550 "gRPC long life streaming has memory leak"
This message buffer allocated [here](https://github.com/cloudendpoints/esp/blob/master/src/nginx/grpc_passthrough_server_call.cc#L138)
is not freed.  But since it is allocated from the stream pool,  when the stream is closed, the whole memory pool is freed.   So it is not a really memory leak,   but for a long live gRPC streaming, it seems like a memory leak.

The correct way to handle it is: to r

[2019-02-26 16:27] #550 closed

[2019-02-26 17:19] qiwzhang opened #553 "Test: E2E gRPC transcode JSON fuzz test failed."
Starting grpc transcode fuzz test at Tue Feb 26 14:00:26 UTC 2019.
Use http to connect: esp.test-0fd2725-gke-tight-http2-echo-6a47-1902261346.svc.cluster.local:8080
Use http to connect: esp.test-0fd2725-gke-tight-http2-echo-6a47-1902261346.svc.cluster.local:8090
Running /echo JSON fuzz tests...
Traceback (most recent call last):
  File "./esp_transcoding_fuzz_test.py", line 247, in <module>
    es

[2019-02-27 03:00] qiwzhang commented on #553
v1.28.x doesn't have this problem.  Just run the e2e test

All load tests are successful.
Starting grpc transcode fuzz test at Wed Feb 27 02:50:19 UTC 2019.
Use http to connect: esp.test-250565b-gke-tight-http2-echo-d5bd-1902270235.svc.cluster.local:8080
Use http to connect: esp.test-250565b-gke-tight-http2-echo-d5bd-1902270235.svc.cluster.local:8090
Running /echo JSON fuzz tests...
Checking for c

[2019-02-27 21:55] qiwzhang commented on #553
https://github.com/cloudendpoints/esp/pull/556

[2019-02-27 21:56] qiwzhang commented on #553
This is introduced by https://github.com/cloudendpoints/esp/pull/530

[2019-02-27 23:33] #553 closed

[2019-02-27 23:36] qiwzhang commented on #495
With this PR https://github.com/cloudendpoints/esp/pull/524, you can log any request headers, includeing user agent.

[2019-02-27 23:36] #495 closed

[2019-02-27 23:36] #489 closed

[2019-02-27 23:37] #490 closed

[2019-02-27 23:41] qiwzhang commented on #416
It is added by https://github.com/cloudendpoints/esp/pull/503

[2019-02-27 23:41] #416 closed

[2019-02-27 23:43] #395 closed

[2019-03-01 13:42] stjasink commented on #444
There is some config that still prevents ESP from running on a read-only file system that I can't find a way to override.

I have various emptyDir mounts to provide writable dirs:

          - mountPath: /var/run
            name: var-run-for-nginx
            readOnly: false
          - mountPath: /var/log/nginx
            name: var-log-for-nginx
            readOnly: false
          - mountPath

[2019-03-05 11:36] MrMage opened #560 "ESP forwards HTTP1 headers that are not supported by HTTP2 to HTTP2 backends"
My backend is logging the following error messages:

[code]

This is because the HTTPS Uptime Checks sent via HTTP1.1 by Google Stackdriver Monitoring send a `Connection: keep-alive` header to the backend (verified with ESP's `log_request_headers` flag). According to RFC 7540 (also see https://github.com/nghttp2/nghttp2/issues/887), this header must not be sent:

[code]

ESP should strip this head

[2019-03-05 17:36] qiwzhang commented on #560
I am a little bit confused.  Your backend is serving http2, but "HTTPS Uptime Check" is using HTTP1.1.
How do you config ESP or Nginx to send downstream HTTP1.1 to upstream http2?
I am not sure if  Nginx is capable  of such protocol translation.

[2019-03-05 17:40] MrMage commented on #560
@qiwzhang This is an official feature of Cloud Endpoints: https://cloud.google.com/endpoints/docs/grpc/transcoding. The backend is a custom gRPC service based on HTTP2.

[2019-03-05 17:49] qiwzhang commented on #560
I see.  You are using ESP gRPC transcoding.  Thanks.

[2019-03-05 18:18] MrMage commented on #560
@qiwzhang does the error report make sense, then?

[2019-03-05 18:38] qiwzhang commented on #560
Yes, it is indeed an ESP issue.  ESP should remove more headers here:
https://github.com/cloudendpoints/esp/blob/master/src/grpc/proxy_flow.cc

I will filled a PR soon

[2019-03-05 22:12] #560 closed

[2019-03-06 03:08] qiwzhang commented on #549
It is done. Now we can use bazel 0.21.0

[2019-03-06 03:08] #549 closed

[2019-03-06 03:10] qiwzhang commented on #444
https://github.com/cloudendpoints/esp/pull/563

[2019-03-06 03:10] qiwzhang commented on #445
https://github.com/cloudendpoints/esp/pull/563

[2019-03-13 15:59] insafinou commented on #446
Hello,

do you have any news about it?

[2019-03-15 19:27] srs opened #567 "Request Header Or Cookie Too Large"
When adding Linkerd 2 proxy in front of the ESP, the request returns `400 Request Header Or Cookie Too Large`.

It could be that `large_client_header_buffers 4 32k;` needs to be set in Nginx.

Anyone else has this problem?

[2019-03-15 19:30] whitlockjc commented on #567
The default maximum header size is `8K` so without an nginx configuration to bump that, it's more than feasible.

[2019-03-19 08:09] arturgspb opened #568 "How I can config ESP for send default values for integer fields and etc?"
Hi!

Now if response has integer field with zero value ESP do not send field key in response.
I think it related with https://developers.google.com/protocol-buffers/docs/proto3#default.

I can fix it by ESP config or other?

[2019-03-20 10:42] hobochild commented on #345
Would you be open to PR adding a startup `gzip` option that adds gzip to the nginx config, I'd prefer to use the esp options rather than manage my own nginx config.

[2019-03-21 01:09] adamf opened #569 "Unable to use / as a target for an API path"
Using this OpenAPI v2 YAML:
[code]

Results in ESP saying:
[code]

If I add additional paths to the OpenAPI spec, those work. I'm not well versed in nginx configuration so I'm not sure how to debug this, but happy to help!

[2019-03-21 01:20] adamf commented on #569
Ah, I found https://cloud.google.com/endpoints/docs/openapi/openapi-limitations#operations_on_url_root_path_ which indicates this isn't supported. However, AFAICT, the only way to use Endpoints with container native load balancing is to have the API backend respond with a 200 on / so the health checker will work. I had hoped adding / to the OpenAPI spec would fix that, but perhaps something else n

[2019-03-21 01:41] adamf commented on #569
Adding `x-google-allow: all` to the top of the OpenAPI 2 file has solved this issue, but it seems odd that this is required. Have I misconfigured the API, or is there an issue in ESP that prevents the google healthchecker from succeeding when requesting / from ESP?

[2019-03-25 14:54] qiwzhang commented on #345
Yes,  we will appreciate your contribution. Please go ahead.

[2019-03-25 15:03] qiwzhang commented on #446
Sorry,  no update on this feature.

[2019-03-25 16:38] qiwzhang commented on #567
I prefer to do "large_client_header_buffers 16 8k;" so that normal memory consumption is not increased.  I assume each header line do not exceeded 8k.

[2019-03-25 16:51] qiwzhang commented on #568
You can try this flag: https://github.com/cloudendpoints/esp/blob/master/start_esp/start_esp.py#L712

[2019-03-25 17:16] qiwzhang commented on #569
Unfortunately, ESP doesn't support root path "/" in its path match component.

Another way to work around it is to use --requst-path flag

--request-path=[REQUEST_PATH] \

set it to a path other than "/" in your LB health check setting.

https://cloud.google.com/load-balancing/docs/health-checks

[2019-03-25 23:56] qiwzhang commented on #567
@kh-chang could you help to create a PR for this?  For simplicity, we can just add this line to our nginx config.  It should not have any side effect.

[2019-03-25 23:57] kh-chang commented on #567
like adding a flag?

[2019-03-26 00:28] qiwzhang commented on #567
I mis-read the nginx config. We should increase buffer size,  not the number of the buffers
we can add an new flag  to specify the buffer size

[2019-03-26 23:56] kh-chang commented on #567
The docker presubmit is failing due to:
https://lists.debian.org/debian-devel-announce/2019/03/msg00006.html

[2019-03-27 17:57] adamf commented on #569
Thanks! I'll close this issue out. Note that with the GKE approach to deploying endpoints, the docs recommend you use an `Ingress`, which creates the LB and NEGs for you, which means you don't have control over the LB's health check path at creation time (AFAICT, I could easily be wrong).

[2019-03-27 17:57] #569 closed

[2019-03-28 02:02] kh-chang commented on #567
We added a flag `--large_client_header_buffers` to make it easier to set it with a custom value.
The change should be available in the next release.

Make sure to quote the value (e.g. `--large_client_header_buffers='4 32k'`)

[2019-03-28 02:02] #567 closed

[2019-03-28 05:23] arturgspb commented on #568
Thanks!

Param --transcoding_always_print_primitive_fields works good!

[2019-03-28 05:23] #568 closed

[2019-03-28 22:00] sgammon opened #573 ""Request blocked due to unsupported error code: 122""
Hello ESP devs,

We've been having some issues using ESP with Cloud Functions, specifically, we think, the Service Control API. For a subset of our traffic, and only on a few API keys at a time (leading us to believe it's related to quota control somehow), we get the following JSON response served as a `500 Internal Server Error`:

[code]

The line of code that produces this error is from ESP, not

[2019-03-28 22:02] sgammon commented on #573
p.s. the [`Code` payload reference on the Service Control API](https://cloud.google.com/service-infrastructure/docs/service-control/reference/rest/v1/Code) seems to only reference the [standard gRPC status codes](https://github.com/grpc/grpc/blob/master/doc/statuscodes.md), so I am not sure where I might find out what code `122` means, but I am happy to try and debug from our end. thank you again

[2019-03-28 22:26] qiwzhang commented on #573
It is documented here

https://github.com/googleapis/googleapis/blob/master/google/api/servicecontrol/v1/check_error.proto#L72

[2019-03-28 22:27] qiwzhang commented on #573
We will fix ESP to return error message correctly.  not called it as "unsupported error code"

[2019-03-28 22:35] sgammon commented on #573
Thank you @qiwzhang

[2019-03-28 23:05] sgammon commented on #573
@qiwzhang, in our case, it seems like the service in question was indeed enabled, for the API key which was passed.

the subject error code here is `API_TARGET_BLOCKED` which elaborates via your link:
"The API targeted by this request is invalid for the specified consumer project."

however, the project was and is enabled in Cloud Endpoints, you can see the traffic being reported here, during Marc

[2019-03-28 23:07] qiwzhang commented on #573
Let me try to find a Google service control expert to help

[2019-03-28 23:53] qiwzhang commented on #573
@sgammon could you provide your project_id your api-key is issued for,  we can check if it is enabled for the service control service?

[2019-04-01 08:27] hobochild commented on #345
Cool, as a quick fix I just made the origin server add to do the gzipping. Will circle back to this when we have time. If anyone else wants to pick it up in the meantime :+1:

[2019-04-01 18:12] qiwzhang opened #574 "enable tsan test"
Now tsan test is disabled.   When running it in local with gcc,  it only works with tsan_nopie as

bazel test --config=tsan_nopie //src/...

But grpc_interop tests still timeout:

//src/nginx/t:grpc_interop_cancel                                       TIMEOUT in 60.1s
//src/nginx/t:grpc_interop_metadata                                     TIMEOUT in 60.1s
//src/nginx/t:grpc_interop_status

[2019-04-02 16:21] stjasink commented on #444
@qiwzhang Release 1.31 fixed my issue that I posted about above.  Thanks!

[2019-04-02 16:43] #444 closed

[2019-04-02 16:44] qiwzhang commented on #445
Added secure image in 1.31.0 release

[2019-04-02 16:44] #445 closed

[2019-04-08 18:12] kh-chang opened #580 "Upgrade bazel version to 23.0+"

[2019-04-08 18:14] kh-chang commented on #580
required for https://github.com/googleapis/googleapis

alternatively, find a way to build googleapis through custom build file.

[2019-04-09 01:57] #573 closed

[2019-04-09 02:51] #580 closed

[2019-04-09 16:55] sgammon commented on #346
@qiwzhang is there any update on TLS functionality, even a plan in place?

[2019-04-09 17:06] qiwzhang commented on #346
Our resource is allocated on the needed base.  If there is such feature requirement, we will try to get it in.
Specific for this feature, PR  #465 is very close.  Just need some TLC.   I will try to locate someone to help.

[2019-04-12 15:43] qiwzhang commented on #346
@sgammon I will work on it next week.

[2019-04-13 02:18] qiwzhang commented on #346
https://github.com/cloudendpoints/esp/pull/582

[2019-04-14 04:20] ashi009 opened #583 ""Grpc-Message" header/tailer should be percent-encoded"
Per https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

Grpc-Message should be percent-encoded. However, it seems that esp is not doing that:

https://github.com/cloudendpoints/esp/blob/0fd2725399f3f027313bc3b6125710faa3b08242/src/nginx/grpc_web_finish.cc#L118-L122

And we got the following message from trailer.

[code]

[2019-04-18 16:04] AdrianLsk opened #586 "cert-manager"

[2019-04-18 16:04] #586 closed

[2019-04-19 23:08] qiwzhang commented on #583
https://github.com/cloudendpoints/esp/pull/588

[2019-04-26 17:46] qiwzhang commented on #224
grpc channel stub is cached [here](https://github.com/cloudendpoints/esp/blob/master/src/nginx/module.h#L170)

We can put expiration on each map entry to solve this.

The issue was raised long time ago, not sure if there is such requirement.  If there is, we can fix it.

[2019-04-26 17:50] qiwzhang commented on #284
ESP should be deployed as container.  For container, it should be easy to specify start up flags.   Generally, you don't re-start the container entry process.  You just re-start the container.

[2019-04-26 17:50] #284 closed

[2019-04-26 18:06] qiwzhang commented on #323
Try to clean up the issues...

Not sure if this feature is still required.  If no, I will close it.

[2019-04-26 18:11] #346 closed

[2019-04-26 18:19] qiwzhang commented on #348
is this feature needed?   try to clean up the issues.

[2019-04-26 18:21] qiwzhang commented on #360
This is not in this project scope.

[2019-04-26 18:21] #360 closed

[2019-04-26 18:32] qiwzhang commented on #421
ESP (vis Nginx) supports web-socket by using --enable_websocket flag.  But JWT or api-key authentication will be by-passed since after the upgrade, it is not HTTP request any more.  ESP only works for HTTP requests.

[2019-04-26 18:32] #421 closed

[2019-04-26 18:40] qiwzhang commented on #486
ESP is using very hacked code [http.cc ](https://github.com/cloudendpoints/esp/blob/master/src/nginx/http.cc) to make side-way http calls, e.g. call to servicecontrol, jwt public key server or gcp metadata server.

This code is not easy to add any new features, such as using http_proxy.

[2019-04-26 18:40] #486 closed

[2019-04-26 18:45] qiwzhang commented on #387
I guess it is related to https://github.com/cloudendpoints/esp/issues/323

This issue only wants to add "x-forwarded-user-agent" to grpc backend.

[2019-04-26 18:47] qiwzhang commented on #405
We could add an log entry for config_id.

[2019-04-26 18:56] qiwzhang commented on #461
You can contact @halvards directly since he added this feature for ESP, he must be using it.  I will close the issue

[2019-04-26 18:56] #461 closed

[2019-04-26 18:57] qiwzhang commented on #446
@wyrickre may have update on this.  But this is not in the ESP project scope.

[2019-04-26 19:00] #415 closed

[2019-04-26 19:02] qiwzhang commented on #403
Duplicate to https://github.com/cloudendpoints/esp/issues/405

[2019-04-26 19:02] #403 closed

[2019-04-26 19:04] ctborg commented on #323
close it out

[2019-04-26 19:10] qiwzhang commented on #404
revisit this issue.  Not sure if it is still required.

Since backend is grpc,   forward a healhz call to another http endpoint may not work.  it is not really the health of the grpc backend unless the http endpoints monitors the grpc server.

So not sure if suggested solution will help

[2019-04-26 19:13] #323 closed

[2019-04-26 19:20] wyrickre commented on #446
We are evaluating this.  Nothing to announce at this time, but keep checking back!

[2019-04-26 21:22] tonglil commented on #284
Thanks, I think we can then configure the flag parameters from env vars using this https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/#using-environment-variables-inside-of-your-config

[2019-04-26 21:37] qiwzhang commented on #284
You can also directly pass the command arguments to esp container.  I don't see the value added by using environment variables.  I like to justify the work.

[2019-04-27 02:09] ashi009 commented on #404
Good point. Given that the grpc has standardized the health check service
already, it should be possible to let esp provide healthz endpoint with
data from there. It will allow http LB to probe the actual backend , also
true for kubenetes liveness probe.

So I'd probably suggest to add a flag to proxy healthz to grpc health
service.

Wayne Zhang <notifications@github.com>于2019年4月27日 周六上午3:16写道：

-

[2019-04-27 02:34] qiwzhang commented on #404
In this case,  users just need to expose the grpc health check service in the service config, ESP will happily pass the call from LB to the grpc service.  ESP doesn't need to do anything special.

[2019-04-27 04:41] ashi009 commented on #404
Um, is it possible to map health service to plain HTTP 1.x GET? AFAIK, the
health service proto
<https://github.com/grpc/grpc/blob/master/src/proto/grpc/health/v1/health.proto>
doesn't
have api annotations yet. Also, I don't think people want to expose health
endpoint in their API config as an unauthenticated endpoint.

Wayne Zhang <notifications@github.com>于2019年4月27日 周六上午10:34写道：

[2019-04-29 07:03] dansiviter commented on #421
@qiwzhang Are you saying the `Upgrade` request will be ignored even though that is a valid HTTP request? Preventing the establishment of a websocket connection via JWT is as important as any other HTTP request.

[2019-04-29 16:21] qiwzhang commented on #421
@dansiviter good point.   Upgrade request is a HTTP request.  I believe it will pass ESP access handler.

[2019-04-29 16:41] qiwzhang commented on #404
OK, the task will be to add a start_esp flag as:

--http_healthz_endpoints=http_endpoint.

nignx config will add:

location /healthz {
  proxy_pass http://<http_endpoint>;
}

Such requests will bypass ESP.

[2019-05-01 01:24] #583 closed

[2019-05-02 17:59] qiwzhang commented on #546
As it turns out that.  "asan" in compiler <= 4.9 doesn't work.  It will not report any memory leaks.

After using gcc 7.3.0.  "asan" tests found some leaks.  It as fixed by https://github.com/cloudendpoints/esp/pull/596

[2019-05-02 18:04] qiwzhang commented on #546
But "t" tests are using the whole nginx.  Nginx has global init memory are not freed.  e.g. in ngx_event_process_init, it allocated 3 buffers, connections, write_events, read_events, these 3 buffers are not freed.

But strangely,  only some "t" tests complains about these leaks.  Could you figure out why.  Maybe a bug in "asan"

Like to turn on "asan" with latest gcc.  But may have to
1) not to ru

[2019-05-02 18:09] qiwzhang commented on #546
BTW,  nginx has to turn off master_process in order to run "asan"

master_process off;

[2019-05-02 22:10] qiwzhang commented on #546
Tried with different gcc version

1) gcc 7.3.0 based on Debian 4.19.12-1rodete1.

asan works except "t" tests

2) gcc-7 based on Ubunto

asan doesn't work. error:

==5820==LeakSanitizer has encountered a fatal error.
==5820==HINT: For debugging, try setting environment variable LSAN_OPTIONS=verbosity=1:log_threads=1
==5820==HINT: LeakSanitizer does not work under ptrace (strace, gdb, etc)

3) gcc-

[2019-05-03 21:22] Daniel-Houston opened #598 "Make jwks cache expiration time configurable"
We are experiencing significant latency in our authentication calls because of frequent jwks retrieval calls.

After looking into the code a big, currently the jwks cache time is hard coded to 300 seconds.

See https://github.com/cloudendpoints/esp/blob/master/src/api_manager/check_auth.cc#L359

Would it be possible to make the cache time configurable? We would like to extend the time out signific

[2019-05-07 16:47] sgammon opened #600 "Support for gRPC web text"
Hello esteemed ESP authors,

I have been trying out `grpc-web` recently and am very happy with it. However, I went to do some server-side streaming, and discovered that it only supports streaming via the base64-based gRPC web text protocol (defined [here](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md#protocol-differences-vs-grpc-over-http2)).

It seems as though, when I send traffic

[2019-05-07 16:53] qiwzhang commented on #600
ESP doesn't support text protocol.  Yes, we plan to support it.

[2019-05-07 19:55] sgammon commented on #600
@qiwzhang, thank you. could this issue perhaps serve as a placeholder for that? i wasn't able to find an existing one but perhaps i missed it. sorry to request so many features especially after you have just implemented TLS. we are just big fans 😄

[2019-05-07 21:35] qiwzhang commented on #600
@sgammon yes, we will use this issue to track it.  We are glad that users like you requesting enhancement.  We feel proud that our product is used by many users.

[2019-05-08 03:03] lamcst opened #602 "Local ESP fail to connect to google service"
I had set up esp locally. Whenever i try to call esp server, it give me this error message.
`{
    "code": 16,
    "message": "JWT validation failed: Unable to fetch verification key",
    "details": [
        {
            "@type": "type.googleapis.com/google.rpc.DebugInfo",
            "stackEntries": [],
            "detail": "auth"
        }
    ]
}`
Log from docker
`INFO:Fetching the service

[2019-05-08 16:24] qiwzhang commented on #602
Please try to ping "servicemanagement.googleapis.com" to see if your local DNS can resolve that hostname.

[2019-05-10 00:19] qiwzhang opened #605 "Not to log many "remove all entries of " when client cache is closed"
In Users log, there are a lot of

Remove all entries of report aggregator
Remove all entries of check aggregator

When esp is existing.   If esp is re-starting and crash in a loop,  it will override all other userful logs

[2019-05-10 01:38] qiwzhang commented on #602
@lamcst any update?

It seems that your local ESP could not talk to outside network. It could not talk to
https://servicemanagement.googleapis.com/v1/services/xxxx.appspot.com/rollouts

for JWT, it could not talk to public key server with this error

JWT validation failed: Unable to fetch verification key"

[2019-05-10 02:23] lamcst commented on #602
@qiwzhang
Thanks for response.
I had ping the "servicemanagement.googleapis.com", it does work.

I miss out the last line of log, now i add it back, hope it helps.

[2019-05-10 02:38] lamcst commented on #602
@qiwzhang Thanks!
It is my company wifi network block ESP to google service.

[2019-05-10 02:38] #602 closed

[2019-05-10 18:04] #605 closed

[2019-05-10 23:09] #598 closed

[2019-05-13 16:23] qiwzhang commented on #405
also add  esp version into endpoint log for debugging.

[2019-05-17 02:46] #405 closed

[2019-05-17 21:49] fieryorc opened #618 "RST_STREAM error if the details is large"
Hi,
  Our service is using ESP to translate JSON request to GRPC and calls our backend server (golang) implementing grpc protocol. In one of the APIs, we send back validation errors as a protobuf error details message and all works fine if the message is small in size. However, when the number of details is large, ESP returns RST_STREAM error.

I tested various limits and the limit seems to be aro

[2019-05-17 22:07] qiwzhang commented on #618
30 bytes?  It seems that the working message is already more than 30 bytes.

[2019-05-17 22:08] qiwzhang commented on #618
Which ESP version are you using?

[2019-05-17 22:43] fieryorc commented on #618
Not 30 bytes, 30 messages. I tested with the latest (1.33) and still repros.

Essentially if a details message contains a large string, this happens. I'm not sure the size of the message, but it is <100KB.

[2019-05-17 22:52] fieryorc commented on #618
Seems like it is failing around 8K limit..

[2019-05-17 22:56] qiwzhang commented on #618
You can try ESP --enable_debug [flag](https://github.com/cloudendpoints/esp/blob/af9836ff91e749ee66e64f73f70f95de7bd1d2ba/start_esp/start_esp.py#L551)

To run the traffic.   the log is inside the ESP container in /var/log/nginx/error.log.

Could you post the log for me?

[2019-05-17 23:25] fieryorc commented on #618
Here you go: https://paste.googleplex.com/5504360203157504

[2019-05-17 23:34] qiwzhang commented on #618
You may have run into this grpc limit "grpc.max_metadata_size".  I googled it. There is this [discussion](https://groups.google.com/forum/#!topic/grpc-io/FoLNUJVN4o4)

I am still not sure if client or server can change it.   ESP is the grpc client,  your is the server.

I will take a look the ESP debug trace.

[2019-05-17 23:52] qiwzhang commented on #618
You may want to check out this [issue](https://github.com/grpc/grpc-go/pull/2084). It shows you how to to set max_metadata_size in golang.

[2019-05-17 23:53] qiwzhang commented on #618
ESP debug indicates that the error is from your grpc-server.

[2019-05-18 00:06] qiwzhang commented on #618
I think you run into "grpc.max_metadata_size" limit. It seems the default is only 8 KB.  ESP (as grpc-client) does not set it.   But I believe if your server can set it, it should work.

[2019-05-18 00:21] fieryorc commented on #618
Ran with the following settings:

	s := grpc.NewServer(grpc.MaxSendMsgSize(math.MaxInt32), grpc.MaxHeaderListSize(math.MaxInt32), grpc.MaxRecvMsgSize(math.MaxInt32))

Still same error. Error log:
https://paste.googleplex.com/4802307919183872

[2019-05-18 00:22] fieryorc commented on #618
If I use grpc-gateway, I don't get any error. It is translating fine.

[2019-05-18 00:49] qiwzhang commented on #618
I increased ESP channel size to INT_MAX.  It works.

[2019-05-18 02:45] fieryorc commented on #618
Thank you for super fast response. I'll wait for the docker image to be released to test the fix. Any idea when that will be released?

[2019-05-20 15:49] qiwzhang commented on #618
This week ESP release should have this fix.

[2019-05-21 15:56] qiwzhang commented on #618
https://github.com/cloudendpoints/esp/releases/tag/v1.34.0

[2019-05-21 15:57] #618 closed

[2019-05-28 16:32] qiwzhang opened #627 "Translate between x-cloud-trace-context and grpc-trace-bin for http/grpc transcoding"
For tracing:  HTTP uses x-cloud-trace-context, but grpc uses grpc-trace-bin

In http/grpc transcoding, ESP should translate from  x-cloud-trace-context to grpc-trace-bin in request,  and from grpc-trace-bin to x-cloud-trace-context in response.

[2019-05-30 23:57] qiwzhang commented on #627
1) The actual translation should be done here
[here](https://github.com/cloudendpoints/esp/blob/master/src/grpc/proxy_flow.cc#L145) is for request direction, and [here](https://github.com/cloudendpoints/esp/blob/master/src/grpc/proxy_flow.cc#L175) is for response direction.

2) [here](https://github.com/cloudendpoints/esp/blob/master/src/api_manager/context/request_context.cc#L414) can be optimize

[2019-06-07 12:15] peter-fe opened #630 "Add include to nginx-auto.conf.template for http {} section"
In regards of tracking calls through the system it would be a great deal if it's possible to define the log contents & format of the Nginx backed ESP.

Currently on GKE it is possible to add some kind of correlation to the logs created by the service control part (not sure how you actually call that), by adding headers with --log_request_headers=foo,bar that can be used for that.

That's really a

[2019-06-07 16:33] qiwzhang commented on #630
Please help me to understand your requirements:

You want to log request_id to track a specific request in a distributed system,  why doesn't the flag "--log_request_headers=request_id" help?  It will write a stackdriver log entry with request_id.

How will adding a nginx conf include help?  what kind of include will you add?  How are you going to copy your custom include files into esp containers

[2019-06-07 20:22] bfin commented on #473
@qiwzhang There's a much better way!

The nginx headers-more module is a popular extension to the core headers module that adds some new directives, including `more_set_headers` which will add or replace a given header without the nesting issues.

Ref:
https://github.com/openresty/headers-more-nginx-module
https://docs.nginx.com/nginx/admin-guide/dynamic-modules/headers-more/

In this example, the

[2019-06-07 20:34] peter-fe commented on #630
@qiwzhang, thank you for your detailed questions I'll try to answer them as clear as possible to describe our use case.

Basically our topology looks like this:

![arch](https://user-images.githubusercontent.com/22496291/59130768-a212e300-8970-11e9-8423-1b5c4e58cecb.png)

In the past we had several errors where the request died within the esp container, because of service control errors and we had

[2019-06-07 22:12] qiwzhang commented on #630
Will this work for you?

[2019-06-07 22:25] qiwzhang commented on #473
Thanks @bfin for the point.  We will look into it to see if we can use it to simply our config.

[2019-06-07 22:26] qiwzhang opened #632 "use more_set_headers module to simply nginx config"
raised by https://github.com/cloudendpoints/esp/issues/473#issuecomment-500026156

[2019-06-07 22:27] qiwzhang commented on #473
raised as separate issue to track it

[2019-06-08 09:28] peter-fe commented on #630
@qiwzhang

That worked perfectly!

Just gave it a try with your changed template + custom log_format mapped to /etc/nginx/conf and selecting this custom format with the access_log config parameter.

![esp-k8s-deployment](https://user-images.githubusercontent.com/22496291/59145080-8a267800-89df-11e9-8160-09727f7432f0.jpg)

And the log output looked perfect!
![nginx-log](https://user-images.githubus

[2019-06-08 17:05] bfin commented on #515
@arturgspb Same issue here. I wrote this multi-stage dockerfile to build ESP locally for tinkering:

[code]

If you're unfamiliar with multi-stage docker builds, you specify a "target" build like this:
[code]

These builds have the additional benefit of being much smaller than the official releases because they do not include the build layers.

@qiwzhang I'd submit a PR to include this but I'm sti

[2019-06-10 16:22] qiwzhang commented on #515
if we can pre-build a docker image,  then "docker run" it with -v to mount your local source code into it to build and test ESP, that is a prefer way.

The task are:
1) this docker image used by our Jenkins test may work:  gcr.io/endpoints-jenkins/debian-9:0.10
Someone just need to try it out.  It is include in this [file](https://github.com/cloudendpoints/esp/blob/master/Jenkinsfile#L55).

2) wri

[2019-06-11 11:29] peter-fe commented on #488
@qiwzhang, @lei-tang

We have exactly the same issue with Istio + ESP (even though this may not was requested by the originator of this issue).

We had a talk with Dan Ciruli regarding this topic early this year and we also asked for support on [Google groups](https://groups.google.com/forum/#!searchin/google-cloud-endpoints/istio%7Csort:date/google-cloud-endpoints/tTEzRpnl1Yc/KNfcjTkTBgAJ), late

[2019-06-11 16:04] qiwzhang commented on #488
So you are asking ESP to extract zipkin trace context headers (x-b3) for its trance parent id.

I will re-open this issue.

[2019-06-11 17:27] peter-fe commented on #488
@qiwzhang
Exactly, that would be a great deal, I assume not only for us!
Thx for re-opening!

[2019-06-17 13:28] toby-1-kenobi commented on #364
ESP still doesn't support additional_bindings?
I would really like this feature.

[2019-06-22 03:50] xavier-re opened #636 "[DNS] nginx does not re-resolve upstream server destination"
Hello,
I run google cloud end point/ESP on debian stable (stretch)
ii  google-cloud-sdk                251.0.0-0                      all          Utilities for the Google Cloud Platform
ii  endpoints-runtime               1.35.0                         amd64        Google Cloud Endpoints Runtime  .  .  A Google Cloud

We have the following setup
internet -> ALB1 -> ESP running on ec2 -> ALB2 -> b

[2019-06-25 23:58] qiwzhang commented on #636
You may want to read [this](https://distinctplace.com/2017/04/19/nginx-resolver-explained/)

[2019-06-26 16:32] #630 closed

[2019-07-08 18:18] qiwzhang opened #637 "backend address with path is not appended correctly."
The detail is from this [post](https://groups.google.com/d/msg/google-cloud-endpoints/mb1EdOHIceo/t19YhIQxAgAJ)

If backend address is with path, such as

x-google-backend:
  address: BACKEND_HOST:/foo
  path_translation: APPEND_PATH_TO_ADDRESS

if request is HOST/bar, the redirected path is supposed to be BACKEND_HOST/foo/bar.  But it is   BACKEND_HOST/foo.   This is wrong.  it is a bug.  Should

[2019-07-10 02:07] diericx opened #640 "Issues making calls to a gRPC service on GKE (Cloud Endpoints & ESP) from browser (grpc-web)"
**Intro to the issue**
I have a gRPC service that is running in GKE. I'm using Cloud Endpoints and have an ESP (Extensible Service Proxy) in front of it that I want to use to handle authentication (JWT tokens).

This sounds like a really great way to integrate all these tools together, but for the past 2 days I haven't been able to get this working. I can connect and make calls perfectly when runn

[2019-07-10 04:24] peter-fe commented on #488
@qiwzhang, is there anything we can do to assist on that topic or when we can expect progress on that?

Best,
Peter

[2019-07-10 18:26] srs opened #641 "Not unique filenames when using experimental_enable_multiple_api_configs"
I noticed a bug when using `--experimental_enable_multiple_api_configs` flag and when using multiple configurations. The definitions are stored under `/etc/nginx/endpoints/` directory with a namespaced UUID with service-`version` as parameter.

This works as long as the various services has unique `version`s. But for me it does not work since the versions on GCP endpoints is usually date with a re

[2019-07-11 00:30] diericx commented on #640
After looking further into the logs it seems like it's an audience issue with the JWT. I'm not exactly sure what that means, but from reading it seems like the audience in the JWT needs to match the service name of the ESP. I'm not sure if its possible to set the aud with firebase when generating a JWT, but I my client-id to the audiences in the ESP config which didn't work.

[2019-07-13 17:47] diericx commented on #640
I ended up just making REST calls instead of using grpc-web this was giving me too much of a headache

[2019-07-14 18:24] LewisTheobald opened #643 "SSL error when deploying with Istio sidecar injection enabled"
Currently using Istio with rate limiting rules, however we're unable to get our deployment to build properly with sidecar injection enabled. Without, it builds without a problem however once enabled we get:

[code]

I've tried adding:

[code]

But that gave the same error.

I tried running with `--generate-generate_self_signed_cert` but that also didn't work. I've setup SSL on port 443 with `ssl_p

[2019-07-14 18:25] LewisTheobald commented on #643
Also, when I remove `ssl_port` and `--generate_self_signed_cert` entirely, it produces the same result and fails over the SSL handshake. At a stalemate to get around this.

[2019-07-16 15:31] baens commented on #446
This would be super awesome, because right now. v2 of the spec can't really handle multiple output versions. I.e. if I had 2 outputs (xml vs json) but wanted slightly different fields per object. In v2, this really can't be handled, in v3, the contents portion of the response can handle that.

[2019-07-16 16:21] #637 closed

[2019-07-16 17:21] #641 closed

[2019-07-16 17:28] qiwzhang commented on #488
Unfortunately, this is categorized as new features.  The resource is very limited for the new feature requests. I don't have any ETA for this feature.

[2019-07-16 17:37] qiwzhang commented on #640
@diericx You can set your own "audience" in the Service config.  Here is the [instruction](https://cloud.google.com/endpoints/docs/grpc/authenticating-users) for Firebase

[2019-07-16 18:04] wyrickre commented on #446
We are evaluating OAS 3.0 support.

On Tue, Jul 16, 2019 at 8:31 AM Erik Lindblom <notifications@github.com>
wrote:

[2019-07-16 18:59] qiwzhang commented on #643
It seems that Istio is blocking ESP to talk to Google SeviceManagement [service](https://servicemanagement.googleapis.com).

ESP needs to talk to it to get the service config.

[2019-07-16 19:00] qiwzhang commented on #636
@xavier-re Any update on this issue? Otherwise I will close it.

[2019-07-16 22:17] qiwzhang commented on #636
ESP is using free version of Nginx.  It only resolves DNS once. Your case requires its Discovery feature from the pay version of Nginx plus.

[2019-07-16 22:17] #636 closed

[2019-07-16 22:34] qiwzhang commented on #632
This module is not part of Nginx, need to install it separately. Two options, 1) wait for ESP [Nginx](https://nginx.googlesource.com/nginx/) to add it in.  Or 2) Change ESP bazel dependencies to install it.

Hi @PiotrSikora do you have plan to include more_set_headers module into this [Nginx](https://nginx.googlesource.com/nginx/) ?

[2019-07-16 22:44] PiotrSikora commented on #632
No plans, sorry. You can always add this module directly in ESP, though.

But I don't think that pulling this module to save a few lines in configuration is worth the trouble.

[2019-07-16 23:05] qiwzhang commented on #632
Thanks @PiotrSikora. Agreed that it is not worth the trouble.

[2019-07-16 23:05] #632 closed

[2019-07-19 16:17] qiwzhang opened #646 "Make JWT "sub" field optional"
Now it is required.  According to [RFC](https://tools.ietf.org/html/rfc7519#section-4.1.2), it can be optional.

[2019-07-19 17:03] qiwzhang commented on #646
https://github.com/cloudendpoints/esp/pull/647

[2019-07-19 23:15] TAOXUY opened #648 "Misleading transcoding T test"
I just printed the response and saw both of them are "Message too deep. Max recursion depth reached for key 'a'". It doesn't make sense to represent stopping in different stages.

As I understand, the valid deep struct may return this one, while the invalid deep struct should return some error of invalid json.

https://github.com/cloudendpoints/esp/blob/fc65c3e3ebafc2d6df3cfab12e002c5cd244b84f/src

[2019-07-20 00:19] qiwzhang opened #651 "Throttle time to fetch the new service config when a new roll out is detected"
ESP fetches service config from ServiceManagement.  It has very low quota.  If all ESP instances try to fetch at the same time, it will reach its quota.

1) define a configurable flag --new_service_config_fetching_throttle_window_in_m
2) throttle the fetching time within that window.

By default, it is 10 minutes.  If a user have more instances, need to increase that window

[2019-07-21 19:51] clehene commented on #412
Shouldn't the error be `**Duplicate** HTTP template:` at least and ideally provide the source of duplication. Is there enough context for this?

[2019-07-22 16:21] #648 closed

[2019-07-22 16:56] qiwzhang commented on #412
I will open this issue to improve error message

[2019-07-22 22:09] #646 closed

[2019-07-22 22:09] #643 closed

[2019-07-22 23:22] qiwzhang commented on #651
Current ESP behaviors of contacting service management API to detect new rollout config.
1) if there is not requests in the last 5 minute window,  consider the box is idle,  not need to check rollout.
2) in the last 1 minute window, if there are Check/Report response with latest_rollout_id,  compare this latest_roolout_id to the one ESP is using.   If same, bail out,  if different, call service ma